[2022-02-10 02:24] Jane4925 commented on #1035
Progress: Editing survey for user testing2 and Documenting steps
Blockers: Waiting for feedback from stakeholders on a couple docs (still coming in...) and final approval
Availability: trying to work on it at least a little bit a day!
ETA: stakeholder meeting on 02/22, which will decide the final approval

[2022-02-10 03:40] pmeda12 commented on #1029
Progress: Updated Usability test scheduling email template to include reminder to have laptop/desktop
Blockers: No major blockers
ETA: Will complete HfLA logo for google form survey within next few days

[2022-02-10 03:56] #1043 closed

[2022-02-10 04:39] fyliu commented on #1010
Notes after reading the current Figma design. I need to evaluate the feasibility of these requirements.

1. The design wants to override the AIN box's error text with one generated by the tags inside it. So "AIN/APN field is required" could turn into "Each AIN/APN must be 10 digits".
2. The design wants to enable the red outline on the AIN box when displaying the tag error message.
3. The design w

[2022-02-12 05:37] fyliu commented on #1010
1. Progress - I added some validation to the display tags and I'm working on the "Add another" placeholder text
2. Blockers
    1. I lost 2 days due to my child being sick
    2. Still need to tweak styling to match other input fields, which wasn't worked on since last time.
    3. Need to discuss some of the items above that I just found out about. Some are not easy or doesn't make sense.
3. Avai

[2022-02-12 17:30] KPHowley opened #1073 "Delete "Select strategies to earn TDM points" and ? icon from calculation/4"
### Overview

This message at the top of calculation/4 is no longer needed or applicable and needs to be removed.

### Action Items

- [x] remove text from top (This Action removed later - See comment by JD on 4/12/22)
- [x] remove ? from top

### Resources/Instructions

[2022-02-12 17:40] KPHowley commented on #975
## 2/12/22 Meeting Agenda

### Prework to prep for meeting
- [ ]

### Recurring items: Happens on the PM  Saturday meeting
- [ ] Review assignments for each PM
   - [ ] [Bonnie](https://github.com/hackforla/tdm-calculator/issues/assigned/ExperimentsInHonesty)
        - [ ] https://github.com/hackforla/tdm-calculator/issues/955
   - [ ] [Kevin](https://github.com/hackforla/tdm-calculator/issues/ass

[2022-02-12 17:43] KPHowley commented on #1001
Need to create front end issue and add to icebox as Dependency on Milestone change

[2022-02-12 17:46] #1036 closed

[2022-02-12 17:52] KPHowley commented on #1001
Created follow up Issue #1072

[2022-02-12 17:53] KPHowley commented on #1072
@dposada90  - Can you update this issue tobe actionable based off #1001 (UI Design issue)

[2022-02-12 18:57] KPHowley opened #1075 "Research and determine needs under GDPR (removing profiles, removing saved projects, clearing cookies & personal information)"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2022-02-17 02:56] Shaeeka commented on #875
![image](https://user-images.githubusercontent.com/88021166/154395584-d9ae82bc-7094-4282-832c-4ac62705fda8.png)

- Please review if the link included in the design for the About Us page is the correct link
-  'Add the checklist under Additional resources in the About-Us page'- Can we create a new issue for this please since it involves a different page?
[Figma link](https://www.figma.com/file/nD9Q

[2022-02-17 03:05] Jane4925 commented on #1029
Progress: 1) Upgraded Zoom account 2) Discussion Guide and Volunteers Training slide deck 95% completed 3) Approved Volunteer recruitment form
Blockers: 1) Haven't finish reviewing improved and new features since user testing 1 2) Feedback is received from stakeholder, but updates haven't been made yet
Availability: trying to work on it at least a little bit everyday and Sat team meeting
ETA: Aimi

[2022-02-17 03:10] Jane4925 commented on #1035
Progress: implement feedback from stakeholder for survey questions
Blockers: not really...expect for my procrastination lol
Availability: trying to work on it at least a little bit a day!
ETA: stakeholder meeting on 02/22, which will decide on final approval

[2022-02-17 03:15] Jane4925 commented on #979
Progress: approved volunteer recruitment form, started on documenting tool use for interviews
Blockers: need Bonnie's help on making template for landing page
Availability: trying to work on it at least a little bit a day!
ETA: 02/19

[2022-02-17 03:18] pmeda12 commented on #1029
Progress: Finished consolidating last few slides of training slide deck, reviewed stakeholder comments on email templates and survey questions

Blockers: None

Availability: at least a little every day

ETA: Tasks are done, pending further comments from stakeholders (LADOT)

[2022-02-17 03:22] seenaiype opened #1080 "About Us page - add the checklist of resources for the TDM calculator"
### Overview
 Add the checklist under Additional resources in the About-Us page

### Action Items

- [ ] As part of #875 , add the list of resources also to the About Us page
- [ ] Update the design for the "About Us" page
- [ ] Review the design with LADOT
- [ ] Create the dev ticket to make updates on the page

### Resources/Instructions
#875

[2022-02-17 19:47] jarmitageux commented on #1029
@Jane4925 Review of last closing questions from round 1 testing:

Only 2 or 16 participants were asked those last 4 questions. Not asked because the sessions had run long, participant annoyed by too many questions, or tech glitches.

I didn’t save the answer, but my impression was that the question about concerns in the permitting process could be helpful.

I’m not sure I know enough about the use

[2022-02-19 17:21] KPHowley commented on #975
## 2/19/22 Meeting Agenda

### Prework to prep for meeting
- [ ] #890
- [ ]
- [ ]

### Recurring items: Happens on the PM  Saturday meeting
- [ ] Review assignments for each PM
   - [ ] [Bonnie](https://github.com/hackforla/tdm-calculator/issues/assigned/ExperimentsInHonesty)
                         - #955
   - [ ] [Kevin](https://github.com/hackforla/tdm-calculator/issues/assigned/KPHowley)
   -

[2022-02-19 19:00] Shaeeka commented on #875
![image](https://user-images.githubusercontent.com/88021166/154815116-70c6bced-3530-485b-89b4-506ab4bc0fe3.png)

[2022-02-19 19:04] KPHowley commented on #888
[Slide deck for 2/22 ](https://docs.google.com/presentation/d/1_jidOvRddZ2WFJAUjWjRv6nfW6S-VVTGqrrcy0Ygv-c/edit?usp=sharing)

[2022-02-23 00:28] ExperimentsInHonesty commented on #875
@Shaeeka At the stakeholder meeting, we discussed and decided to change the p2 sections to:

p.2      Planned floor area (sqft) for specific use types
- retail
- employment/office
- warehouse/industrial
- medical

p2.    Planned unit types/sizes for specific use types
- residential (dwelling units)
- hotel/motel (rooms
- school (students)
- arena/stadium/theater (seats)

[2022-02-23 00:40] ExperimentsInHonesty commented on #1029
@Jane4925 we met with the stakeholders on 2022-02-22

There was a question
In 2021, were the majority of your projects in the permit process (check box):
Commercial
Residential
Mixed-use
Institutional
Government
Other

Suggest adding the following questions
Have you ever worked on projects in any of the following categories? (Choose all that apply)
[insert list of all project use cases]

[2022-02-24 00:11] fyliu commented on #1010
1. Progress - placeholder text works, input cursor jumps to the last digit
    remaining tasks:
    - [ ] style the input field
    - [ ] display error message if the tags are invalid
2. Blockers - need help on CSS spacing

<details>
    <summary>click left triangle to expand to view the problem</summary>

![2022-02-23 16 02 44 localhost 215226a98f75](https://user-images.githubusercontent.com/1160

[2022-02-24 02:22] nclairesays commented on #943
Sent the same message on Slack: Hi team, apologies for being MIA lately. I've been job searching lately and that's been splitting up a lot of my time and attention.  It's been a bit difficult for me to focus on this project. I going to be focusing on job searching the next couple weeks/maybe months. I'll put my issue back into the backlog. If anyone happens to want to work on that issue in the mea

[2022-02-24 03:18] KPHowley opened #1082 "Move terms and conditions pop up"
### Overview
The terms and condition pop up comes up when a user goes to the wizard (calculation/1) for the first time this should pop up regardless of what page the user visits first.  If there is another pop up on this page this modal should be focused on first and the rest of the paged should be greyed out.

### Action Items

- [x] Change logic so the terms and conditions pop up comes whenever

[2022-02-26 18:51] ExperimentsInHonesty commented on #955
@kevinshih613 I am going to invite them to this meeting.  I will be able to do the invites during the next meeting. please add to agenda

[2022-02-28 06:49] fyliu commented on #1010
1. Progress - All done but I'm doing more testing
    1. Bug: AIN errors don't show up when loading project with invalid AIN
2. Blockers - none
3. Availability - A few more hours before 3/2
4. ETA - Should be done by 3/2

@seenaiype
Some screenshots hidden below
<details>
  <summary>click to expand</summary>

![Screenshot from 2022-02-27 22-38-14](https://user-images.githubusercontent.com/1160105/

[2022-03-01 04:17] Jane4925 opened #1084 "User Testing 2 Overview (edits continue)"
### Overview
Steps, timelines (ideal setting, subject to change), materials, and documentation for user testing round 2 recruitment.

### Action Items
- [x] 1 - Prerequisites
  - [ ] Test Plan
  - [x] Tools
- [x] 2 - Preparation
  - [x] User Survey #1035
  - [x] Session Table
- [x] 3 - Recruitment #1089
  - [x] Participants
  - [ ] UXR volunteers
- [x] 4- Interview Logistics
  - [x] Discussion Gui

[2022-03-01 23:29] fyliu commented on #1010
Question: Should an invalid AIN tag cause navigation to be disabled?

[2022-03-02 03:48] pmeda12 commented on #1029
Consider this done.

[2022-03-02 21:16] KPHowley commented on #1010
@fyliu - if this is a required field (which it is) we should verify the length is correct on AIN

[2022-03-03 01:57] Jane4925 commented on #1029
Reopen if necessary

[2022-03-03 01:57] #1029 closed

[2022-03-03 02:35] #979 closed

[2022-03-03 03:11] entrotech commented on #1023
Isn't this issue obsolete, since wwe are getting rid of the separate Bonus Package page entirely?

[2022-03-03 03:32] Shaeeka commented on #875
![image](https://user-images.githubusercontent.com/88021166/156490776-d0c1951b-3f93-4e33-9293-f5a4ba1f2432.png)

![image](https://user-images.githubusercontent.com/88021166/156490889-f5cd75a9-a048-49ba-8fcb-9165fa858d9b.png)

[Figma Link](https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=5683%3A20479)
[Prototype Link](https://www.figma.com/proto/nD9QK56Mzq7xNSaSUoeGx0/TDM-Ca

[2022-03-03 03:36] #1080 closed

[2022-03-03 03:42] #1023 closed

[2022-03-03 03:52] fyliu commented on #1010
From the meeting, we (@KPHowley, @Shaeeka, @fyliu) decided that it's better to not allow users to create invalid tags that they would then have to delete and re-enter with the correct number. We want to create only valid tags. The next button logic would stay the same, it'd be enabled if there's any tags are present (with other required inputs satisfied).

Browsers render a highlight around the ac

[2022-03-05 18:02] KPHowley commented on #975
## [Date ]  Meeting Agenda

### Prework to prep for meeting
- [ ] #890
- [ ]
- [ ]

### Recurring items: Happens on the PM  Saturday meeting
- [ ] Review assignments for each PM
   - [ ] [Bonnie](https://github.com/hackforla/tdm-calculator/issues/assigned/ExperimentsInHonesty)
   - [ ] [Kevin](https://github.com/hackforla/tdm-calculator/issues/assigned/KPHowley)
   - [ ] [Seena](https://github.com

[2022-03-05 18:30] KPHowley commented on #875
Will discuss adding: "Check section 3 B of the [TDM PROGRAM UPDATE ](https://planning.lacity.org/odocument/1dc924ce-b94a-403b-afe0-17ba33b3dbe1/Draft_TDM_Ordinance.pdf)for exemption details" with stakeholders on 3/8 to notify users of exemptions

[2022-03-05 18:32] KPHowley commented on #1042
This is potentially addressed in #875  - will discuss at stakeholder meetinng

[2022-03-06 04:21] Biuwa commented on #888
Slide deck for Stakeholders 3/8/21:

Slide deck test for EBI
- [ ] #1051 create a new slide deck for the next meeting-Ebi
- [ ] #1072 Progress Check in with Kevin
- [ ] #866 Detailed/in-depth video for new PM onboarding

[2022-03-08 03:44] pmeda12 commented on #1084
Tasks Completed: Update C.U.T Guide (Usability testing guide for volunteers), Create contact spreadsheet for training session attendees (in the fourth template folder), Update presenter notes to detail individual duties. See below for more details.

Training deck: https://docs.google.com/presentation/d/1VUTxh5eR0PHUAhaU8ZgNlsnrj_qmaBXcv9IUmfR0aTs/edit#slide=id.gd5a5cac577_0_0

Slide 20:
- Include

[2022-03-08 20:06] KPHowley commented on #1073
This was closed and addressed when implementing the new accordians.

[2022-03-09 00:12] ExperimentsInHonesty commented on #1042
At stakeholder meeting, David agreed with us putting the following

Check LAMC Section 12.26 J.3(b)(3) of the Draft Revised TDM Ordinance

[2022-03-09 00:38] ExperimentsInHonesty commented on #831
The conversation with David (stakeholder) ended up us needing to Mock up language changes and show to stakeholder next time.  David also mentioned having it flash to get their attention (but in a throw away comment kind of way), but we are not doing that.  We have discussed and dismissed doing screen flashes in the past.

[2022-03-10 01:14] KPHowley commented on #1042
@Shaeeka   - this is going to be an update to the checklist design.  #875

[2022-03-10 01:14] #1042 closed

[2022-03-10 01:15] KPHowley commented on #875
From issue #1042

 At stakeholder meeting, David agreed with us putting the following
"
Check LAMC Section 12.26 J.3(b)(3) of the Draft Revised TDM Ordinance for exemption details.
"
The part that is bold is the link

[2022-03-10 01:15] KPHowley commented on #875
Link: https://planning.lacity.org/odocument/1dc924ce-b94a-403b-afe0-17ba33b3dbe1/Draft_TDM_Ordinance.pdf

[2022-03-10 04:12] seenaiype commented on #1073
@entrotech , as discussed, lets confirm if this issue is completed.. if not, lets re-open this one

[2022-03-10 04:16] seenaiype opened #1086 "Checklist popup for the create project page"
### Overview
To provide some guidance on the information users that would be helpful for the calculator, we are going have a pop-up show with the list of required information and information around exemption

### Action Items
- [x] Popup to show to all users doing a new project
- [x] popup shall showup only on the first page
- [x] add a link to the footer of the page, for easy access to the popup

[2022-03-12 16:57] #1082 closed

[2022-03-12 17:24] #1073 closed

[2022-03-12 18:52] ExperimentsInHonesty commented on #1024
@fyliu Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate what

[2022-03-12 19:02] ExperimentsInHonesty commented on #1010
@Shaeeka please make a new issue to create a work around for the highlighting of the ain cell.  We decided that it was going to be solved by the numbers appearing outside of the box, and the box only having enter a new number in it.  As soon as you press enter, it should move the numbers to a gray tag above and keep you in the box the box to enter again.

When you finish making the issue, please c

[2022-03-12 19:46] Shaeeka commented on #1071
Sharing the [figma link](https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=5516%3A19574) of the design

[2022-03-12 20:35] fyliu commented on #1024
There's no progress yet. I just claimed this issue. ETA is next week but after the next team meeting 3/16.

[2022-03-15 17:09] Jane4925 opened #1089 "User Testing 2: Recruitment"
### Overview
Steps and materials needed for user testing round 2.

### Action Items
- [ ] 3 - Recruitment
  - [ ] Participants
    - [x] Outreach Email
      - [x] Phase 1 : [March 16 - 22] within contacts provided by LADOT
         - [x] MailChimp Settings
            - [x] Import round2 contact sheet
            - [x] LADOT title and signature
            - [x] LADOT email domain verification

[2022-03-15 17:57] Jane4925 commented on #1089
<img width="1745" alt="Screen Shot 2022-03-15 at 10 48 50 AM" src="https://user-images.githubusercontent.com/64346009/158441653-669de324-ed41-4710-8770-9ee644a55ae3.png">
<img width="1640" alt="Screen Shot 2022-03-15 at 10 49 26 AM" src="https://user-images.githubusercontent.com/64346009/158441665-bf358fe0-47f6-4735-bf56-e3acdef6d6ff.png">

[2022-03-16 03:54] jahpe777 commented on #1086
@seenaiype @KPHowley - Should the modal close simply by clicking the "X" **only** or should it **also close** if you click outside of the modal?

1. Progress: I have the basic structure in place. Finalizing styling. Click events need to be completed. Local storage needs to be completed
2. Blockers: May want help with events
3. Availability: Somewhat available
4. ETA: March 30th

[2022-03-16 05:49] fyliu commented on #1010
My fault for tagging the pull request to close the issue. The pull request was all the functionality minus the last bit of UI tweaking for the input focus we talked about at a previous meeting.

It seems like the problem is in the Input Mask component taking that focus. The React Select component displays the input focus behavior the same way the design specified. I tried for a while and it feels

[2022-03-16 05:56] fyliu commented on #1024
Clarification needed: Do we want to have 3 AINs per line or is that the max AINs per line?
See this screenshot where 3 AINs don't fit on a single line. This is before adding the chevron icon on the right
![2022-03-15 22 51 18 localhost 6cf8c926125d](https://user-images.githubusercontent.com/1160105/158525335-b837aa76-e05a-4f15-8d3f-df1653735352.png)

[2022-03-16 14:24] ExperimentsInHonesty commented on #1089
@Dsomers74 let us know if this text is ok?

[2022-03-16 23:20] entrotech commented on #1071
Here is what the following PR implements:

Residential Only, Project Level 1:
![image](https://user-images.githubusercontent.com/9939032/158706461-293eccad-aa98-446a-92cd-156409f5c3e5.png)

Same project, accordion expanded:
![image](https://user-images.githubusercontent.com/9939032/158706404-745e2940-cafd-439d-94cf-c6ed90069126.png)

School Only, Project Level 1:
![image](https://user-images.githu

[2022-03-17 02:05] fyliu commented on #1024
1. Progress -
2. Blockers -
3. Availability -
4. ETA -

[2022-03-17 02:58] Shaeeka commented on #875
Updated the pop up
![image](https://user-images.githubusercontent.com/88021166/158727639-2355c36e-82ac-4d6d-9a83-8cc6b624f3c7.png)

[2022-03-17 03:18] seenaiype commented on #875
Minute change.. is the line space the same before p1 and after p4

[2022-03-17 03:35] fyliu commented on #1024
I unassigned myself since @poorvarathore05 is the one working on the issue.

[2022-03-17 04:47] fyliu commented on #1024
Here's the branch with my work in progress code changes. Feel free to add and remove anything I did, or even create a new branch to start fresh. https://github.com/hackforla/tdm-calculator/tree/1024-summary-ain

[2022-03-17 04:54] fyliu commented on #1024
At the meeting, we decided to keep it at 3 AINs per line since that was what the stakeholder asked for. I personally feel that it's easier to implement than a fully responsive component.

[2022-03-17 07:06] Shaeeka commented on #1071
@entrotech just noticed that the text is not centered within the frame, the spacing is uneven.

![image](https://user-images.githubusercontent.com/88021166/158754753-d926e6cb-a9c9-459a-b379-414644e1c931.png)

[2022-03-17 21:36] entrotech commented on #1071
Made adjustments:

- Fixed vertical spacing within tooltipr @Shaeeka comment above.
- Per comments in last night's meeting, modified border of Package message box on strategies page to have no border, just a drop shadow around where border would be.
- Added drop shadow to text within same message box to make it look like message box on the Summary Page.

[2022-03-18 17:27] entrotech commented on #952
Not a good idea.  The data is stored redundantly on purpose and automatically synced by design. Having this info in separate columns makes it easy to search, filter and view, while also having it in the formInputs allows the JSON for the project to completely represent the project data.

[2022-03-18 17:27] #952 closed

[2022-03-18 18:54] entrotech commented on #1068
Let's start by fixing up the external links on the About page, since that is front-end only. There are 6 external links on the About page that should have the "external link" appended to the body of the <a> tag.  Here is what I think we should do:
1. We have been using the icons from the react-fontawesome library, which uses V5 of the @Fortawesome icon set, and we want to use the free icons, so if

[2022-03-18 19:11] entrotech commented on #1024
@seenaiype @poorvarathore05 @fyliu @KPHowley

IMO, the drop-down feature isn't necessary or desirable, and I'd rather just see it appear as shown in the "dropped-down" view on page 2 of the prototype. My reasons are:
1. It's an extra click to see all of the AINs, and showing all of them doesn't really take that much vertical space.
2. If we put a bit of effort into formatting the page for attracti

[2022-03-19 17:12] fyliu commented on #1010
1. Progress - Separated the AIN values and the input field. Need to expand the input border to fill up the entire line
2. Blockers - None
3. Availability - 4 hrs before next team meeting
4. ETA - 3/23 next meeting

[2022-03-19 17:21] KPHowley commented on #1071
reviewing wording on:

"
There are many TDM strategies choices and most involve making long-term commitments in meeting program compliance. Small development projects (defined as Program Level 1 that provide no more than the parking baseline), are provided one or more TDM packages that allow fulfillment of the minimum 15 point target from a pre-selected menu. A point incentive is provided for the

[2022-03-19 17:22] KPHowley commented on #1071
![Screen Shot 2022-03-19 at 10 21 01 AM](https://user-images.githubusercontent.com/49739276/159131534-29403566-ac98-4142-9048-e83d6e55cbc0.png)

[2022-03-19 17:45] KPHowley commented on #888
For user testing slide - we want to fins users who make projects the qualify and are **not in this list of exemptions**:

"Projects in which the new floor area constructed consists of fewer than 16
housing units; and of less than 25,000 square feet of any combination of
non-warehouse employment and office space; and of less than 50,000 square
feet of any combination of retail and Medical Use space

[2022-03-20 19:17] ExperimentsInHonesty commented on #975
- Please add this to next agenda that I am at https://github.com/hackforla/tdm-calculator/issues/960

[2022-03-20 21:23] jahpe777 commented on #1086
Finalized checklist modal
![Screen Shot 2022-03-20 at 2 22 37 PM](https://user-images.githubusercontent.com/40730303/159186525-0e3c059c-cc53-4c85-a3bc-5cda17a3c68b.png)

[2022-03-21 07:35] Jane4925 commented on #1089
Participant recruitment phase 1 status as of 03/21/2022:
- According to MailChimp report - 88 opened the email, 21 clicked the links inside email
- Responses from user survey - 8 submitted, 7 expressed interest in doing interview

[2022-03-22 00:23] KPHowley commented on #1073
@entrotech  - We actually want to roll this back. I closed this because James had addressed this, however the title is actually incorrect:
We want to keep "Select strategies to earn TDM points" and just delete the ? icon from calculation/5

I believe this change was just to the sub header, Select strategies to earn TDM points and we want to add that back in, but make sure it is properly spaced alo

[2022-03-22 00:25] KPHowley commented on #888
@Biuwa

We also want to add the issues we released this last week - it looks like it was just one.

Issues to review and release:
Move terms and conditions pop up #1082

Please check with @Jane4925  about the testing, we do need to put #'s in and flesh out the testing tab. and then can you add a slide for a timeline check in? it can be jsut like the one from last week or the previous week, for now

[2022-03-22 00:29] Jane4925 commented on #888
I updated the recruitment status here: https://github.com/hackforla/tdm-calculator/issues/1089

[2022-03-22 22:50] KPHowley commented on #1072
@Biuwa  - I want you to try and update this issue to be an actionable issue based off of issue #1001

please review other issues tagged front end to see how we do this.

[2022-03-22 23:14] #1086 closed

[2022-03-24 00:00] awikstrom-ladot opened #1096 "Threshold Changes"
@KPHowley @entrotech @Dsomers74

Hi all,
I'm submitting the following threshold changes for the calculator:

- Increase residential threshold in Level 1 from 16 units to 25 units
- Increase threshold for 100% Affordable Housing projects in Level 1 from 16 units to 50 units (i.e. 100% affordable projects of 49 or fewer units no longer need to follow TDM)
- Decrease hotel/motel threshold in Level 1

[2022-03-24 01:17] awikstrom-ladot opened #1097 "TDM Strategy Changes"
@entrotech @KPHowley @Dsomers74

Here are some changes to make to the following TDM Strategies

- Bike Share Memberships will not use Gold/Silver/Bronze ranking, and instead will earn applicants 5 points.
- Access Improvement: Applicants can earn 4 points if, at minimum, the project provides access to an adjacent bike path or multiuse path
- Reduced Parking Supply: Assign point values to the follo

[2022-03-24 02:16] fyliu commented on #1010
1. Progress - The AIN values are now above the input field. The input field highlight shows up properly.
2. Blockers - None
3. Availability - 4hrs before next meeting
4. ETA - should be done unless there are changes requested

[2022-03-24 03:33] fyliu commented on #1010
At the meeting, we decided to do these updates
- [ ] more vertical spacing
- [ ] show invalid AIN input after focusing away
- [ ] auto create AIN when focusing away if input is valid

[2022-03-24 03:48] jahpe777 commented on #1086
Updated styling and fixed relationship between Terms and Conditions modal and Checklist modal

[2022-03-24 14:59] fyliu commented on #1010
I did the fixes discusses yesterday but the following is not resolved and will take longer than today's merge deadline.

Question: Is it okay if the Next page button is not disabled when there's an error in the AIN input?

Question 2: Should the AIN length error or the empty input error have priority?

[2022-03-25 15:49] entrotech commented on #1097
@awikstrom-ladot @Dsomers74 @KPHowley

[2022-03-25 16:07] #1097 closed

[2022-03-25 17:14] #1096 closed

[2022-03-26 17:13] KPHowley commented on #1096
@awikstrom-ladot @Dsomers74  - Is there a document of this chart we can have for our reference.

[2022-03-30 23:58] Dsomers74 opened #1106 "Threshold Change #2"
### Overview
We increased the threshold for stadiums that qualify as Level 2 projects based on 10K seats instead of 9K.

### Action Items
On the **Project Specification** page, change the Level 2 threshold for Arena, Stadium, Theater - with seats from 9,000 to 10,000 seats.

[2022-03-31 03:13] fyliu commented on #1010
From the meeting tonight.
1. Don't make any more changes before user testing is done
1. There's a bug that display the 10 digits error message when the input field is empty
1. Answer to question 1: We do want to have the AIN input error about 10 digits to disable the Next button
1. Answer to question 2: The way things currently are is fine. When there's no complete AIN and there's partially filled

[2022-03-31 04:02] Biuwa commented on #1071
Reviewed wording:

'Small development projects (Program Level 1) are eligible for one or more TDM packages that allow the fulfillment of the minimum 15-point target. A bonus point is awarded for a package that is made up of strategies that work together to reinforce their effectiveness in reducing drive-alone trips.

Bonus Packages may not be ideal for all projects but are a way to provide easy co

[2022-03-31 17:27] fyliu commented on #1010
Fixes:
- [x] Empty AIN input shouldn't show an error
- [x] AIN input error disables next navigation

New problem:
- backspace doesn't delete completed AIN once the input has been typed on

[2022-04-02 16:53] ExperimentsInHonesty commented on #1059
@KPHowley and Ebi (don't know her github handle and her name is not in her github).

This issue needs screenshots, moving back to new issue approval until they are added.

[2022-04-02 16:55] ExperimentsInHonesty commented on #1059
@jahpe777 if you are working on this issue, please add screenshots that illustrate the problem before you start so that we can have positive confirmation of what the issue is about.  Also, please move it to in progress if you are currently working on it. And remove yourself as an assignee if you are not.

[2022-04-02 17:15] ExperimentsInHonesty opened #1107 "Image storage"
### Overview
This issue is a place to store images so that they can be displayed in our wiki and on project cards

### Action Items
- [ ] Add image in comment with details about where its used

### Resources/Instructions

[2022-04-02 17:15] ExperimentsInHonesty commented on #1107
![image](https://user-images.githubusercontent.com/37763229/161393864-7a6de0b4-afb7-4bb2-8c30-31fb836cd9ff.png)
On open roles project card https://github.com/hackforla/UI-UX/projects/3#card-68351414

[2022-04-02 17:21] #1106 closed

[2022-04-02 17:42] Biuwa commented on #1051
Slide deck for 4/5/22:

https://docs.google.com/presentation/d/1e8Bz8BYQJd-gK8_GLQSjJ8tOwIaD_UVWL44xvCRNoJY/edit?usp=sharing

[2022-04-02 18:14] KPHowley commented on #888
@Biuwa
things to add to slide deck

**Discussion topics:**
Next steps followup. -   (followup on last tuesday's meeting)
Check in on user testing -  (Share with Jane)
TImeline check in page

**Issues to review and release;**
system updates:
Threshold Change #2 #1106
Threshold Changes #1096
TDM Strategy Changes #1097
(please slide  a page for each of these ^

[2022-04-02 18:21] Biuwa commented on #888
Slide Deck for 4/5/22

https://docs.google.com/presentation/d/1e8Bz8BYQJd-gK8_GLQSjJ8tOwIaD_UVWL44xvCRNoJY/edit?usp=sharing

[2022-04-03 19:42] ExperimentsInHonesty commented on #975
- Let's discuss this at next meeting https://github.com/hackforla/tdm-calculator/issues/960

[2022-04-04 22:59] fyliu commented on #1010
Update: the backspace doesn't delete AIN problem has to do with the React Input Mask component stopping propagation of the backspace event. I don't know if that's a thing that all inputs do, but the React Select component relies on the event to work correctly. Our choices are these:
1. Don't use the input mask. Use the input that comes with React Select that works correctly
   1. no input mask, wh

[2022-04-06 00:27] Biuwa commented on #975
## 4/9/22 Meeting Agenda

### Pre-work to prep for meeting
- [ ] #890
- [ ]
- [ ]

### Recurring items: Happens on the PM  Saturday meeting
- [ ] Review assignments for each PM
   - [ ] [Bonnie](https://github.com/hackforla/tdm-calculator/issues/assigned/ExperimentsInHonesty)
   - [ ] [Kevin](https://github.com/hackforla/tdm-calculator/issues/assigned/KPHowley)
   - [ ] [Seena](https://github.com/

[2022-04-07 02:20] KPHowley opened #1110 "Make backspace delete AIN tags on Calculation/1"
### Overview

Currently accepted AIN tags do not get deleted when a user presses delete in the text box. We would like this to be the case so users can navigate the page only using the ketboard

### Action Items

- [ ] Change tags to be selected and deleted when a user presses backspace in an empty AIN box field

### Resources/Instructions
#### To replicate, type 5555 555 5555
enter
type 5
click b

[2022-04-07 02:46] KPHowley opened #1111 "Update tootltips"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
REPLACE THIS TEXT -If this is the beginning of the task this is most likely something to be researched and documented.

REPLACE THIS TEXT -If the issue has already been researched, and the course of action is clear, this will describe the steps.  However, if the steps c

[2022-04-07 02:47] KPHowley opened #1112 "Update documentation on "start column" on project board"
### Dependency
- #1312

### Overview
We need to move the content from the Start column in the project board to the wiki

### Action Items
- [ ] Check all links before moving them for relevance and that they are unbroken

### Resources/Instructions
- [Project Board, Start Here column](https://github.com/hackforla/tdm-calculator/projects/1#column-15360370)
- [TDM wiki](https://github.com/hackforla/t

[2022-04-09 16:24] entrotech opened #1115 "Update Strategies per January 2022 Program Guidelines"
### Overview
LADOT has been revising the TDM Program Guidelines. Upon reviewing this document, here is a list of the differences between the strategy descriptions in the document vs. what's currently implemented in the application. Assuming the TDM Program Guidelines are the definitive requirement, we need to update the TDM strategy implementation to agree with the document referenced below.

Need

[2022-04-09 17:39] KPHowley commented on #1115
LADOT Needs to review line descriptions in all dropdowns. this needs to be 75 characters maximum and worded clearly.

[2022-04-11 21:45] entrotech opened #1116 "Changes to Access Improvements Strategy"
### Overview
In a previous issue, we change the Access Improvements strategy to a check box, but this isn't what LADOT intended. Need to change it back to a multiple-choice strategy.

### Action Items
- [ ] Change tooltip to:
Install or make contributions to new or improved facilities in the public right-of-way (PROW) that support greater access to the project by people that bicycle, walk, and tak

[2022-04-12 16:25] #1116 closed

[2022-04-12 16:36] entrotech commented on #1073
Kevin did not really want the subtitle text removed from the page, so I put it back.

[2022-04-13 04:30] Biuwa commented on #888
Slide Deck for 4/19/22

[](https://docs.google.com/presentation/d/1e8Bz8BYQJd-gK8_GLQSjJ8tOwIaD_UVWL44xvCRNoJY/edit?usp=sharing)

[2022-04-14 02:33] Biuwa commented on #1010
Please confirm if this issue will be continuing or if a new issue replaces this @fyliu @KPHowley

[2022-04-14 02:36] Biuwa commented on #1024
@poorvarathore05 Is this completed or pushed to Dev?

[2022-04-14 03:07] #1068 closed

[2022-04-14 03:10] jahpe777 commented on #1059
Fixed padding/margins on accordions #1059

[2022-04-14 03:30] fyliu commented on #1024
Closing since the work is done.

[2022-04-14 03:30] #1024 closed

[2022-04-14 07:00] Biuwa commented on #1068
[](https://github.com/hackforla/tdm-calculator/issues/888)

[2022-04-15 19:36] ExperimentsInHonesty commented on #975
Please add this to this week's agenda and get it done during the meeting
- [ ] Taking a picture of the team [CTA Instructions](https://docs.google.com/presentation/d/1UDHwTQ1C3y01CiNS0mvPjNBHJFlm2Txs/preview)

[2022-04-16 17:20] ExperimentsInHonesty commented on #888
@Biuwa We cannot get access to the slide deck for This Tuesday's meeting.  You put the link above, but it is in your personal drive.  Please move it asap, we are trying to prepare for the meeting now. https://docs.google.com/presentation/d/1fE6IrrVMzczAbEiuBOMc-yVSq_sACgz5Nn_D7-PvZAU/edit?usp=sharing

[2022-04-16 18:00] Biuwa commented on #888
Corrected Slide Deck for 4/19/22

https://docs.google.com/presentation/d/1eJUkNHqGcUCF1lumfpFrQ4ma4-ePh5tUFN1gjUu_W9Y/edit?usp=sharing

[2022-04-20 01:07] KPHowley commented on #888
Recordings from stakeholder meeting 4/19: [https://drive.google.com/drive/folders/1RddVvyVu-5edk3-FYChMC904YnWagV06?usp=sharing](https://drive.google.com/drive/folders/1RddVvyVu-5edk3-FYChMC904YnWagV06?usp=sharing)

[2022-04-20 02:24] ExperimentsInHonesty commented on #888
17:12:31 From  Dave Somers  to  Everyone:
	Building Code Section 6307 (lockers, showers, changing room) can be found under Div 63 here:
	https://codelibrary.amlegal.com/codes/los_angeles/latest/lamc/0-0-0-177422

We need to change where it says this [Proposed Ordinances and Initiatives](https://planning.lacity.org/odocument/9fae920f-d618-4362-bd01-adb6abfbd80d/Draft_TDM_Program_Guidelines.pdf) on

[2022-04-20 23:55] KPHowley commented on #1071
This needs to either be updated with the revised wording as a es action item and reopened, or we need to create a separate issue from this.

[2022-04-21 02:03] Reneedesigns commented on #831
Progress: Familiarizing myself with the Figma file. Working through recreating the screen in Figma with either a pop up option or text under the spaces box that denotes points added
Blockers: Don't have access to Calibri font in my Figma file. Wanted to ask at meeting if there is access to that.
Availability: Can work on it before next meeting
ETA: By next week

[2022-04-21 02:07] #1010 closed

[2022-04-21 02:12] KPHowley commented on #1089
@Jane4925 - would love an update on this to see if we are closing or keep working on it @jarmitageux @pmeda12

[2022-04-21 02:37] Biuwa commented on #975
# 4/23/22 Meeting Agenda
**Pre-work to prep for meeting**

- [ ] https://github.com/hackforla/tdm-calculator/issues/890

- [ ]
- [ ]

**Recurring items: Happens on the PM Saturday meeting**

 Review assignments for each PM

- [ ]  [Bonnie](https://github.com/hackforla/tdm-calculator/issues/assigned/ExperimentsInHonesty)
- [ ]  [Kevin](https://github.com/hackforla/tdm-calculator/issues/assigned/KPH

[2022-04-23 17:01] SMR9220 opened #1124 "Update encouragement Program tooltip no.3"
### Overview
Encouragement Program tooltip no.3 states “Mandatory Trip Reduction Program strategy” as “Required Trip Reduction Program strategy”

### Action Items

- [x] Change wording from "Required" to "Mandatory"

### Resources/Instructions
<img width="895" alt="Mandatory wording correction" src="https://user-images.githubusercontent.com/69442669/164915639-5913f3a0-8f66-45ce-991f-ecb91eb065db.p

[2022-04-23 17:05] SMR9220 commented on #1124
For some reason, I cannot add labels or any other tags. Please advise. -Syria Martin-Rathan

[2022-04-24 02:40] SMR9220 opened #1125 "Research: Documentation Explaining Improvement Strategies"
### Dependency
- Must be conducted with actual users from DoT and therefore will likely be a post launch testing
### Overview
Users have indicated they would like the app to include additional documentation explaining the potential impact that option will have on the final goal so that they would understand its value.
#### Details
Need to test actual users from the DoT to determine if the users fi

[2022-04-24 02:41] SMR9220 commented on #1125
For some reason, I cannot add labels or any other tags. Please advise. -Syria Martin-Rathan

[2022-04-25 03:04] SMR9220 opened #1126 "Generalized parking baseline for each unique project type"
### Overview

We need to address the concern the users raised about Citywide Parking Baseline so that the calculations reflect or take account into the special/older areas/zones that specific projects locate at.

### User concern summary
How can a generalized parking baseline on page 3 determine the point target for a specific project? For example, a project locates at old redevelopment plan areas

[2022-04-25 03:07] SMR9220 commented on #1126
Will get more details for solution clarification, and then finalize.
For some reason, I cannot add labels or any other tags. Please advise. -Syria Martin-Rathan

[2022-04-28 02:07] Reneedesigns commented on #831
Progress: 2 option flows created https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=5955%3A21040
Blockers: Getting further clarification from team
Availability: Open
ETA: Next week will have more edits

[2022-04-28 15:45] KPHowley commented on #1071
@Biuwa and @SMR9220  - Can you guys just update this issue as well?

Thanks

[2022-04-30 07:09] Biuwa commented on #888
Slide deck for 5/3/22

https://docs.google.com/presentation/d/1L-jjtspbw7Re_rNgncN0QRciu7iyxFicbGCSoMLzNbk/edit?usp=sharing

[2022-04-30 07:12] Biuwa commented on #975
### 4/23/22 Meeting Agenda

**Pre-work** to prep for meeting

 https://github.com/hackforla/tdm-calculator/issues/890
[ ]
[ ]
Recurring items: Happens on the PM Saturday meeting

Review assignments for each PM

 [Bonnie](https://github.com/hackforla/tdm-calculator/issues/assigned/ExperimentsInHonesty)
 [Kevin](https://github.com/hackforla/tdm-calculator/issues/assigned/KPHowley)
 [Seena](https://g

[2022-05-01 07:13] Biuwa opened #1130 "Affordable Housing Level Percentage"
### Overview
We need to change how the affordable housing checkbox on page 2 works with the drop-down on page 4 in order to
-  fix a bug that let's have two different selections for affordable housing and inadvertently lower your project level below what your project is eligible for
- make it clearer for users

### Details
Users are confused about how the housing level percentage is calculated as

[2022-05-01 07:49] Biuwa opened #1131 "Separate Pricing/Unbundling and Cash-out options for mixed used project"
### Overview
Users want separate options for projects that have specific land uses so they could have different types of parking and pricing

Stakeholders did not agree to a change as Dave Sommers said _'I mean, we'll probably leave it as is for now, and then you know, further differentiate that in like updated guidelines or maybe something that we actually address before like the final versions l

[2022-05-01 08:03] Biuwa opened #1132 "Neighborhood Shuttles/Microtransit Service"
### Overview
Users want more detailed information to communicate realistic expectations about neighborhood Shuttles/Microtransit Service as they are not sure what it is like to operate one or what the CD expects from them.

Xander explained saying _' when the implementation standards become public. They can see more on what exactly we're asking for'_

### Resources/Instructions
https://drive.googl

[2022-05-01 08:34] Biuwa opened #1133 "Modify User Defined Strategy Tooltip"
### Overview
Users need information and instructions on User Defined Strategy as there is no information or instruction on how to use it,

### Action Items
- [x] Remind Stakeholders to provide the instructional content for the tooltip
![tdm](https://user-images.githubusercontent.com/98936028/166138346-88e792d0-64c8-4857-8f1c-ae02efc149b6.png)

### Resources/Instructions
- Stakeholders agreed to pr

[2022-05-02 05:19] Biuwa opened #1134 "User Defined Strategy"
### Overview
Users need information and instructions on User Defined Strategy as there is no information or instruction on how to use it,

### Action Items
- [ ] Remind Stakeholders to provide the instructional content for the tooltip
![tdm](https://user-images.githubusercontent.com/98936028/166138346-88e792d0-64c8-4857-8f1c-ae02efc149b6.png)

### Resources/Instructions
- Stakeholders agreed to pr

[2022-05-02 06:13] Biuwa opened #1135 "Misrepresentation of the cost of Transit Passes"
### Overview
Users are worried broad ranges of percentages misrepresent the cost of Transit Passes

### Action Items
- [ ] Reduce the range sizes and increase the number of range selections to fairly adjust earned points. These ranges must align with Metro's guidelines. Waiting on stakeholder
- [ ] Add a tooltip that explains how each gradiation was selected.

### Resources/Instructions
5/3/2022 S

[2022-05-02 06:16] Biuwa opened #1136 "Detailed information on shared parking"
### Overview
Users wonder about details for Shared Parking and want more descriptive information in the tooltip regarding how parking is assumed to be shared

### Action Items
Stakeholders would like to further clarify this issue on their end before proceeding.

### Resources/Instructions
5/3/2022 Slide deck, slide no.6:
https://docs.google.com/presentation/d/1L-jjtspbw7Re_rNgncN0QRciu7iyxFicbGCSo

[2022-05-02 06:19] Biuwa opened #1137 "Bonus package confusion"
### Overview
Initially, users were confused with Bonus Package and they want attention brought to it when they first land on the page (wordings, tooltips, design, etc.). After briefly  discussing this issue during the 5/3/22 meeting, stakeholders raised concern regarding bonus point package eligibility on whole.

### Action Items
- [x] Determine if the bonus package will be exclusive to level 1 pr

[2022-05-02 06:22] Biuwa opened #1138 "Differences between TDM and VMT Calculator"
### Overview
We need to review the user concerns about the differences between the VMT & TDM to determine if there are any actionable items.

### Users concern
Users note differences between TDM Calculator and VMT Calculator, and they want strategies and descriptions aligned more closely with VMT Calculator to prevent potential confusion

### Action Items
- [x] Identify the specific quotes to revi

[2022-05-02 06:34] Biuwa opened #1139 "Project submission visualization"
### Overview
Users are anxious about how much this tool determines final approval and want to add visualization of project submission and approval steps on the summary page

### Action Items
No action required. As per 5/3/22 stakeholder meeting, "...I don't think it's something the calculator needs right now."

### Resources/Instructions
5/3/2022 Slide deck, slide no.9:
https://docs.google.com/pre

[2022-05-02 06:37] Biuwa opened #1140 "Additional functions after project submission"
### Overview
Users wonder what can be done with the information after submission, add prompt to print, save as pdf, send via email, contacts for questions

### Action Items
- [x] #1313 - interim
- [ ] Mock up page 5 (separate to above) with a download PDF button (could be called print button - design decides)
- [ ] Mock up what PDF should like

### Resources/Instructions
5/3/2022 Slide deck, slide

[2022-05-02 06:41] Biuwa opened #1141 "Standard address format"
### Overview
Users wonder why both AIN# and address are required and what is a standard address format?
Provide clarification inside the tooltip

### Action Items
- [x] Add a tooltip to the address field that says: 'Address can be a single address or range of addresses used for project identification'
- [x] Add a tooltip to the AIN/APN field that says: 'AIN/APN must include all the parcels in the

[2022-05-02 06:44] Biuwa opened #1142 "Users want more categories on page 2"
### Overview
Users hope there are more options to choose from on Page 2, they want more categories Included or expand more options under each category

### Action Items
- [x]  On the bottom of page 2, as per stakeholder approval, add text:
     "If your project’s land use is not listed above, please check LAMC Section 12.26 J.3(c) of the [Draft Revised TDM Ordinance](https://planning.lacity.org/od

[2022-05-02 06:47] Biuwa opened #1143 "Project level 0 prompt confusion"
### Overview
Users do not know what to do with Project Level 0. they want clear instructions added to the current prompt

### Action Items
- [x] As per stakeholder approval, change text on this page to:
      _FIRST PARAGRAPH_ "Based on the information you provided, the Transportation Demand Management (TDM) Ordinance **may** not apply to your project due to its smaller size. Please check LAMC Sec

[2022-05-02 21:00] ExperimentsInHonesty opened #1144 "Sort out the two Figma files"
### Overview
We need to have just one Figma file so that there is no confusion about which is the source of truth.

### Action Items
- [ ] Go through both the old and new Figma files, we can delete anything (from the old) that is in the new.
- [ ] Then annotate the first page of the old Figma file to have a link to the new one and that the old one is deprecated, in case anyone comes to it accident

[2022-05-03 23:41] KPHowley opened #1145 "Make bonus package only available to projects who do not exceed Citywide parking baseline"
### Overview
LADOT / City Planning need to decide whether Bonus Packages apply to all Level 1 projects, or only to Level 1 projects that do supply excess parking.  If the latter, we also need to decide if "excess parking" means over 100% or over  110% (the level that causes the target points to go up by 5pts.)

### Action Items
- [x] Stakeholder needs to decide if they want this change.
- [x] If s

[2022-05-03 23:42] KPHowley commented on #1145
LADOT Will confirm if this is required

[2022-05-03 23:48] KPHowley commented on #1137
comments from 5/3:

Potentially add:
- More information to the box at the top of the page mentioning the 14 + 1 points
- Include the bonus package in the table in the tooltip.
- Change the "possible" points to 15 or 14+1
- add the stratagies in the package to the package title.

[2022-05-03 23:55] KPHowley commented on #1139
Meeting from 5/3:

Planning/Ladot is taking this as feedback but has no concrete proposals.

[2022-05-03 23:59] KPHowley commented on #1140
Meeting from 5/3:

Potentially add print button
Want to add disclaimer that submitting will come later on final page

[2022-05-04 00:12] KPHowley commented on #1141
Can add tool tip to address saying it's for identification purposes only.

Planning address format:
https://planning.lacity.org/odocument/3d913582-d6e7-4375-90e8-3e276b9c28bb/Department%20of%20City%20Planning%20Application

[2022-05-04 00:13] KPHowley commented on #1142
solution: add a text telling users if their use type is not listed it may be exempt.

[2022-05-04 00:24] KPHowley commented on #1143
meeting notes 5/3

Take of bold on "may"
add second paragraph:   "Check LAMC Section 12.26 J.3 of the Draft Revised TDM Ordinance for project thresholds and exemption details"
Final paragraph change to " Final determination… will be made by the Department of Building and Safety and LADOT upon review…"

[2022-05-04 00:24] Biuwa opened #1146 "Website Spell Check: manual"
### Overview
We need to manually spell check the website so that we have a list of misspellings for development to use to test automated spell checking linters.

### Action Items
- [ ] Create a spreadsheet with the following tabs and schema
  - [ ] Tab name: Categories
    - [ ] Schema: Name of page, page nickname, page url
  - [ ] Tab name: Spell Check
    - [ ] Schema: error #, page it appears o

[2022-05-04 00:33] Biuwa opened #1147 "User Testing: Misc Finding 2"
### Overview
DUPLICATE ISSUE, refer to issue #1142

[2022-05-04 06:44] Biuwa commented on #888
Slide deck for 5/17/22

[https://docs.google.com/presentation/d/1WTEOArM-5-uq6USaBS06aTLtYMF5woEZqb6VMb_EaZY/edit?usp=sharing]

[2022-05-05 02:12] Jane4925 commented on #1089
reopen/refer to later if recruitment phase 2 is decided

[2022-05-05 02:12] #1089 closed

[2022-05-05 02:21] Jane4925 commented on #1084
Progress: making journey map and starting documentation
Blockers: n/a
Availability: try to work on it for a bit everyday
ETA: 5/21 or 5/25

[2022-05-05 02:21] #1035 closed

[2022-05-05 02:39] Reneedesigns commented on #831
Progress: Updated both options with more specific language on alert of pts added, put color back into grayed out Reduced Parking Supply on pg 4
Blockers: Are we wanting to keep language of "Provided parking/Baseline" or does that need to be clarified?
Availability: Open
ETA: One week

[2022-05-05 02:56] Biuwa opened #1148 "Update Tooltips"
### Overview
After the meeting with the stakeholders, corrections were made on different tooltips

### Action Items
- [x] Update tooltips in the link attached

### Resources/Instructions
https://docs.google.com/document/d/1oFXqFlwj-cbiiqVvE7e8X9BTDDxgAHtYRVie3omypqE/edit

[2022-05-05 02:58] Biuwa commented on #1148
@entrotech Here's the tooltip update issue

[2022-05-07 16:58] #1060 closed

[2022-05-07 17:20] Biuwa opened #1149 "Bike Parking checkbox fix"
### Overview
Users want the Bike Parking checkbox as a fixed option to avoid unchecking

### Action Items
- [ ] Make the checkbox a fixed option to avoid unchecking
![bike parking](https://user-images.githubusercontent.com/98936028/167264887-9af92fc3-c16e-4cbe-8dc5-76aabf6b830c.png)

### Resources/Instructions
https://drive.google.com/file/d/1YGTHGvwxlSP77rjnrtzcN12rL6JEa-WC/view?usp=sharing
Times

[2022-05-07 17:23] Biuwa commented on #1149
@Jane4925 here's the bike parking issue

[2022-05-07 21:36] Jane4925 opened #1150 "User Testing 2: Create and Organize Issue Tracker"
### Overview
Create Issue Tracker spreadsheet containing all pain points/issues/feedbacks found from user testing round 2 (April 2022) as the basis for creating issues in GitHub.

### Action Items
- [x] Review all items listed in the Resources down below if available
- [x] Identify problems and organize them into following items to fill in [issue tracker spreadsheet](https://docs.google.com/spread

[2022-05-12 01:43] SMR9220 opened #1151 "Redesign the "target points circle" on the sidebar."
### Overview
Point area needs to be more visible for users.

### Action Items
- [x] Make the "target points" circle larger or more visible

### Resources/Instructions
<img width="385" alt="Screen Shot 2022-05-28 at 12 43 44 PM" src="https://user-images.githubusercontent.com/69442669/170834804-7fb28a55-e529-42fc-848b-e0503bd4122f.png">

[2022-05-12 02:12] Reneedesigns commented on #831
Progress: Added reduced parking percentage tooltip to page 3 design to include reduced parking points, added a reduced parking supply possible pts under parking spaces, expanded pts earned explanation for pg 3
Blockers: Ask if we want percentages to be the same or different between pg. 3 and 4

[2022-05-12 02:12] #831 closed

[2022-05-12 05:14] #1059 closed

[2022-05-13 18:20] entrotech opened #1152 "Update NPM Packages, Including upgrade of React to version 18.*"
### Overview
We have over a dozen out of date NPM packages with security vulnerabilities. Update NPM packages to resolve dependabot alerts and upgrade to React version 18.

### Action Items
- [ ] Update NPM packages

### Resources/Instructions

[2022-05-13 18:25] #1152 closed

[2022-05-13 19:43] #856 closed

[2022-05-13 21:59] entrotech commented on #949
Changing file extensions for react component source code is unnecessary and somewhat controversial until/unless we start converting the application to Typscript, in which case the react component code should use an extension of *.tsx. We may re-open this if/when we convert to Typescript.

[2022-05-13 21:59] #949 closed

[2022-05-13 22:07] entrotech commented on #944
Need more clarification of the convention proposed.  Is this referring to if..else statements with many else clauses, or does it apply to nested ternary expressions as well?  Please be more specific in the request by including at least some examples

[2022-05-14 14:09] SMR9220 commented on #1143
Unsure how the text "Final paragraph change to " Final determination… will be made by the Department of Building and Safety and LADOT upon review…" and "Review this code section of the revised ordinance for project thresholds and exemption details." should be combined for addition to the page. Please advise.

[2022-05-14 17:56] KPHowley commented on #1142
Ask LADOT if there is a resource for what the definition of each specification type. if users are stillunclear where can they go to ask....

[2022-05-16 05:39] Biuwa commented on #1126
Is this stakeholders' or team's decision to make @SMR9220?

[2022-05-17 00:09] SMR9220 commented on #1126
Teams decision. The wording and/or potential solutions has yet to be determined.

[2022-05-17 00:57] SMR9220 opened #1157 "Users could not find Checklist once closed"
### Overview
Users need to be able to find the checklist once it is closed.

### Action Items
-  [ ] Provide a clickthrough orientation of where to find things upon landing, similar to the popovers used for new product releases.

OR

- [x] Put checklist in a top level navigation help drop down.   add animation showing the checklist shrinking to the corner

### Resources/Instructions
Some users wer

[2022-05-17 01:05] SMR9220 opened #1158 "User are uncertain what to put in "Project Description" text box"
### Overview
Users are uncertain about what to put in the "Project Description" text box

### Action Items
- [ ] Add a tooltip that says:  'As described in your Planning or Building Permit application materials'

### Resources/Instructions
Users felt this could be many pages long and confused about what the information in this field will be used for.

[2022-05-17 01:16] SMR9220 opened #1159 "Users did not notice that some fields were NOT required"
### Overview
Users approached this as an official form, wanting to comply and complete every field.

### Action Items
- [ ] Separate required and non-required fields by heading text. This heading could double as solution to communicating reason AIN and address are required, eg., "Create Project ID" (subtext: Required ...) followed by "Your Project Details" (subtext: Information for your internal t

[2022-05-17 06:10] Biuwa commented on #831
Please attach updated Screenshots to your comments @Reneedesigns

[2022-05-17 14:51] Reneedesigns commented on #831
![Reduced Parking popup](https://user-images.githubusercontent.com/99779174/168840943-626b0726-3c8a-45d3-aed0-63c4b11924e2.png)
![Reduced Parking box](https://user-images.githubusercontent.com/99779174/168841047-fe800044-40be-4454-81e5-1f44a95d75f5.png)

[2022-05-17 22:48] SMR9220 opened #1160 "Confusion about correlation to real-life cost of strategy implementation"
### Overview
REPLACE THIS TEXT -Text here that clearly states the purpose of this issue in 2 sentences or less.

### Action Items
- [ ] Add a section on this page that describes "high/low/medium" expense for the strategy.  Maybe just pass along comment

### Resources/Instructions
Different strategies will present varying financial burdens on the project, and an inexperienced individual might focus

[2022-05-17 22:50] SMR9220 opened #1161 "Users wanted instruction on how to enter numbers"
### Overview
We need to evaluate the adding of clarification for units of measure to know if this is a big enough problem to warrant making a change to the app.

### Action Items
- [ ] Review usability testing 2 to identify how many people brought this up (out of how many interviewed)
- [ ] If less 30% check usability testing 1 for same
- [ ] Bring findings to the Stakeholder meeting and ask them

[2022-05-17 23:11] ExperimentsInHonesty commented on #831
Provide the language to Xander so that he can edit/approve it.

[2022-05-19 01:31] jarmitageux commented on #1150
@Jane4925 Jill updated overview, please review and revise or approve. Is this issue ready to be closed?

[2022-05-19 02:49] entrotech commented on #1145
In yesterday's meeting, Xander confirmed that bonus packages should only apply to projects without excess parking.  I'm converting this issue from a "Decision" to a Front-End  development issue.

[2022-05-19 02:53] entrotech commented on #1145
@awikstrom-ladot The target points are the same, if the provide parking is between 100-110% of baseline.  Should packages apply for projects that are < 110% of baseline or <= 100% of parking baseline?

[2022-05-19 03:05] entrotech commented on #1137
@KPHowley Need more clarification on exactly what the tooltip should say, and whether the package is available for projects with target points = 15 (i.e, < 110% of baseline) or just to projects that are less than or equal to 100% of baseline.

[2022-05-21 16:07] SMR9220 commented on #1137
As per Emily's input during the May 3rd stakeholder meeting, "overparking" is defined as any number of spaces up to 110, for a level one project having 100 dwelling units. Based on this, Is it safe to assume that only level 1 projects with 0-110% parking are eligible for this bonus package?

[2022-05-21 16:28] SMR9220 opened #1162 "Glossary does not exist on TDM application"
### Overview
The mentioned glossary in this tooltip does not exist in TDM calculator.

### Action Items
- [ ] Remove the text "(See Glossary)" from tooltip

### Resources/Instructions
https://docs.google.com/document/d/1oFXqFlwj-cbiiqVvE7e8X9BTDDxgAHtYRVie3omypqE/edit

Bottom of page 2
<img width="1440" alt="glossary" src="https://user-images.githubusercontent.com/69442669/169660734-07e70335-975f-

[2022-05-26 01:51] Reneedesigns commented on #831
https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=6115%3A2099
![V4-side calc button](https://user-images.githubusercontent.com/99779174/170398839-a6cbef73-35b4-48b2-bb33-8fcbe31cc7b6.png)
![V4-side calc button 2](https://user-images.githubusercontent.com/99779174/170398854-cc664003-846f-4e47-a8b0-1dc2927c3f9f.png)
![V4-side calc button 3](https://user-images.githubuserconten

[2022-05-26 01:55] Reneedesigns commented on #831
https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=6117%3A2100
![V5-Calc on bottom 1](https://user-images.githubusercontent.com/99779174/170399282-2de7ea6e-f7c3-4254-8fc7-ddc3a09d3054.png)
![V5-Calc on bottom 2](https://user-images.githubusercontent.com/99779174/170399293-1619e338-ec1f-4bf8-bef2-2f3a5764b4e2.png)
![V5-Calc on bottom 3](https://user-images.githubusercontent.co

[2022-05-26 01:59] Reneedesigns commented on #831
https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=6117%3A2100
![V6- Calc in advance place 1](https://user-images.githubusercontent.com/99779174/170399758-ae98c47a-8470-4c6a-a6ef-9c04af72e2b4.png)
![V6- Calc in advance place 2](https://user-images.githubusercontent.com/99779174/170399771-2d718207-e699-49cd-b85b-445c30de5834.png)
![Uploading V6- Calc in advance place 3.png…]()

[2022-05-26 02:05] #1148 closed

[2022-05-26 02:10] Reneedesigns commented on #831
Options 2, 3, and 4 for transition/trigger option of Reduced Parking Supply

[2022-05-26 02:51] entrotech opened #1163 "Modify Packages to only apply if Parking Provided < 110% of Baseline"
### Overview
Modify the bonus package to only apply for level 1 projects where the Parking Provided / Baseline < 110%.

### Action Items
- [ ] Make change

### Resources/Instructions

[2022-05-26 03:01] entrotech opened #1164 "Try a modification using a time delay to recalculate Parking Provided / Baseline"
### Overview
UI/UX Issue #831 is intended to pop-up a toast message to the user when they specify the provided parking spaces to let them know if they are going to earn points for reduced parking supply, to call their attention to the shopping cart area of the sidebar.  The tricky part is figuring out what action in the UI triggers display of the toast message (and recalculation of the Parking Pro

[2022-05-26 05:57] Biuwa commented on #888
Slide deck for 5/31/22

https://docs.google.com/presentation/d/1M7dMXFDzjNR_N5A17u66-Q3hCWpxPqK6Ze-Yi__xaRk/edit?usp=sharing

[2022-05-26 21:04] jahpe777 commented on #907
Fixed last saved timestamp #907

[2022-05-28 00:37] Reneedesigns commented on #831
Revised option 2 (calculate button next to "spaces" box)

https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=6133%3A20993

![Calc side button](https://user-images.githubusercontent.com/99779174/170802772-4d35e2e4-10d1-4b4b-96ba-5d941912f629.png)

![calc side button 2](https://user-images.githubusercontent.com/99779174/170802837-9c16447b-bac2-47c0-a238-bd8b02dafc74.png)

![Cal

[2022-05-28 04:33] #907 closed

[2022-05-28 04:35] #1071 closed

[2022-05-28 04:35] #1163 closed

[2022-05-28 04:44] #1162 closed

[2022-05-28 04:47] entrotech commented on #1145
Fixed with PR #1166.  I created duplicate Issue #1163, not realizing that this issue was already created.

[2022-05-28 04:47] #1145 closed

[2022-05-28 04:50] entrotech commented on #1137
@KPHowley @SMR9220 Need to verify that this Issue is consistent with the implementation of Issue #1163 and #1145, which are completed.

[2022-05-28 17:42] KPHowley commented on #888
Make sure we have a timeline slide  for checking in on milestones #1027  - https://docs.google.com/spreadsheets/d/1yzpJqBpOs3Uvq4VYidlMldsYGADAz17ei3WsiMEa_Yk/edit#gid=0

[2022-05-30 05:49] Biuwa commented on #1137
@KPHowley @SMR9220 Please respond to this, I created a discussion topic for this on the deck, and I want to be sure it belongs there

[2022-05-31 01:06] Jane4925 commented on #1150
@KPHowley @Biuwa @SMR9220 Issue tracker is up-to-date. UX team is gonna hand it over to PMs and close this issue.

[2022-05-31 01:06] #1150 closed

[2022-05-31 23:31] ExperimentsInHonesty commented on #1027
freeze prod 2022-06-07
push all accepted UAT changes to prod on 2022-08-13
freeze prod on 2022-09-12

[2022-06-02 00:15] awikstrom-ladot opened #1168 "Change Shared Parking Tooltip"
Change Shared Parking strategy's tooltip from "Share parking among different land uses or tenants within a mixed use development. Covenant or MOU agreement among tenants required to receive points." to "Share parking among different land uses or properties. Covenant or MOU agreement among tenants required to receive points."

@entrotech @ExperimentsInHonesty @KPHowley @Dsomers74

[2022-06-02 00:56] Dsomers74 commented on #1168
Just a slight revision from @awikstrom-ladot request: Change Shared Parking strategy's tooltip from "Share parking among different land uses or tenants within a mixed use development. Covenant or MOU agreement among tenants required to receive points." to "Share parking among different land uses or properties. A notarized agreement among tenants or property owners is required to receive points."

[2022-06-02 22:29] #1149 closed

[2022-06-02 22:29] #1164 closed

[2022-06-03 00:29] #1137 closed

[2022-06-03 01:02] SMR9220 opened #1172 "Users had difficulty reading greyed out text"
### Overview
Some users found it difficult to read the greyed out text, making them feel anxious about what was being eliminated from their options.

### Action Items
- [x] Change the opacity of greyed out text to .6

### Resources/Instructions
Page 4 of the TDM tool

![hack opacity issue](https://user-images.githubusercontent.com/69442669/171766733-84301223-4fb6-42f0-ba41-fb63762d2efc.jpg)

[2022-06-03 17:21] jahpe777 commented on #1172
#1172 updated opacity of rulestrategy and tooltip description

[2022-06-03 22:49] #1172 closed

[2022-06-03 22:50] #992 closed

[2022-06-04 00:14] entrotech commented on #947
This particular problem does not seem to exist anymore, but there is a problem when the user submits a new registration, the register page should show a message telling them to check their email for an email confirmation message, and this is not showing up.

We use a different SendGrid account in DEV, and this does not seem to be working at the moment.  I lost my phone and do not currently have ac

[2022-06-04 16:47] SMR9220 opened #1179 "Users didn't notice tooltips"
### Dependency
- [x] #1218

### Overview
Many users completed the page without noticing that more information was available by clicking on the text. Even when they saw the underline appear, they still didn't click there. It wasn't a clear indication to them that if they clicked they could reveal the tooltip.

### Action Items

- [x] Change cursor into a pointer while hovering over options that hav

[2022-06-04 16:51] SMR9220 opened #1180 "Users did not notice sidebar"
### Overview
Several users did not even notice the sidebar until page 4. The majority of users did not see that the sidebar action related to their input. It was not in their line of sight. They were focused on the right side of the page where they were making entries.

### Action Items
- [ ] #1191
- [ ] Change page title to describe function of the page, eg., "Determine Project Level and Target P

[2022-06-04 17:22] KPHowley commented on #1142
"If your Land use is not listed above please check LAMC Section 12.26 J.3(b)(3) of the[ Draft Revised TDM Ordinance](https://planning.lacity.org/odocument/1dc924ce-b94a-403b-afe0-17ba33b3dbe1/Draft_TDM_Ordinance.pdf) for exemption details."

[2022-06-04 17:23] KPHowley opened #1181 "Change wording from "Number of Condominiums - Units" to " Number of Condominiums - Rental Units""
### Overview
We need to clarify Rental unit information vs for sale unit information required for the users so that they know what to enter under Residential, page 2

### Action Items
- [x] Discuss at stakeholder meeting
- [x] Create Proposed Text that aligns with stakeholder feedback
- [x] Send document to stakeholder with proposed text
- [x] get stakeholder sign-off
- [x] Create issue for dev to

[2022-06-04 17:55] KPHowley commented on #694
Page 2: Project Level and Target Points (see left panel) are determined by details entered below
Page 3: Target Points (see left panel) may be adjusted based on details entered below
Page 4: Select TDM strategies to earn Target Points

[2022-06-04 19:00] entrotech opened #1185 "Update Alternative # Input tooltip"
### Overview
Update Alternative # tooltip to "This information is for personal use only."

Implements item #2  from User Experience Issue #1159

[2022-06-04 19:03] entrotech commented on #1159
Create Development Issue #1185 for implementation

[2022-06-04 19:04] entrotech commented on #1159
Need an approved UI/UX design before we can implement Item #1

[2022-06-04 19:17] entrotech commented on #1181
@KPHowley @SMR9220 @Reneedesigns This doesn't sound right to me.  I believe the number entered should represent all the units in the condo complex, regardless of whether they are rented or owned.  I added this to the document of wording to be reviewed by Zander et. al.

[2022-06-04 19:21] entrotech opened #1186 "Change Tooltips related to Reduced Parking"
Edit to tooltips with change of "a" to "the" and "using" to "providing in first sentence. "See Glossary" deleted from Reduced Parking Supply tooltip.

![Page 3-Tooltip Parking Provided Baseline](https://user-images.githubusercontent.com/99779174/171659154-6c85e315-889f-428f-aaff-048c9c6efde2.png)

![Pg  4-Tooltip _Reduced Parking Supply_](https://user-images.githubusercontent.com/99779174/17165919

[2022-06-04 19:34] entrotech commented on #831
Created a development Issue #1186 for @Reneedesigns tooltip changes.

Remaining things to do are:
- Decide on wording of the notification box in the sidebar - this should be resolved when Bonnie discusses [this document](https://docs.google.com/document/d/1mrSniJGLqQ-pxqes9hR0rQoFp7619PElCo_zMCCvOQk/edit#heading=h.nyn0inkxu893) Xander next week.

- As described above, we wanted to consider two opt

[2022-06-05 22:59] #1186 closed

[2022-06-05 23:27] #1185 closed

[2022-06-08 03:08] #1022 closed

[2022-06-09 00:09] Reneedesigns commented on #1180
Moved sidebar to right side of page, expanded the project level and target point circles

![github sidebar image](https://user-images.githubusercontent.com/99779174/172737707-8a071c8c-8501-41ec-a106-d8ddb7cd696f.png)

[2022-06-09 02:58] SMR9220 commented on #1180
[Issue #1151](https://github.com/hackforla/tdm-calculator/issues/1151)associated with this issue.

[2022-06-11 16:10] Reneedesigns commented on #1151
Enlarged progress circle

![enlarged progress circle](https://user-images.githubusercontent.com/99779174/173195763-89bb6f60-200d-4861-96e7-ccc42b97cea4.png)

[2022-06-12 10:03] Biuwa commented on #888
Slide deck for 06/13:

https://docs.google.com/presentation/d/1G6dQy5A4EF_RVxUMTqr9z73CkGjHBgEvBfM1u6QlJus/edit?usp=sharing

[2022-06-16 02:57] Biuwa commented on #888
slide deck for 06/29:

https://docs.google.com/presentation/d/17ChTthZHA0Cd158MBCO9TmYkONNuOEF0R-zNW9MuQog/edit?usp=sharing

[2022-06-16 21:21] entrotech opened #1189 "Bug: The Checklist Modal Overlaps with the Sidebar on Narrow Devices"
### Overview
See screenshot below. When the checklist is displayed on a narrow width device, it appears in front of parts of the sidebar and behind other parts of the sidebar. This might be just a matter of assigning a z-order to the Checklist.

### Action Items
- [ ] Fix
- [ ]
### Resources/Instructions
- Dev:
- Prod:

![image](https://user-images.githubusercontent.com/9939032/174165516-5dcffb6d-

[2022-06-16 21:27] entrotech opened #1190 "Bug: Information in Background Bleeds through the sidebar tooltip"
### Overview
Particularly on narrow devices, the sidebar tooltip should be in the foreground ahead of everything else (except possibly the checklist and/or Terms and Conditions dialog, bit in some cases (the Package Information on the Strategies page in the screenshot below) it is not the topmost layer.

### Action Items
- [ ] Fix

### Resources/Instructions
![image](https://user-images.githubuser

[2022-06-16 21:30] entrotech opened #1191 "Move sidebar to right side, closer to where user is making entries and natural eye movement so more users notice the impact of page entries."

[2022-06-16 21:50] entrotech opened #1192 "Change Bonus Package Tooltip Contents"
### Overview
Change Bonus Package Tooltip Contents to this:

![image](https://user-images.githubusercontent.com/9939032/174170609-85daf6ce-54c7-41b2-8646-7fa2f064a1bd.png)

(Note that there is no text before the table now.)

### Action Items
- [x] Make change to the Tooltip for the Residential or Employment Package strategy.
- [x] Make the same change to the wording for the School Package (but the

[2022-06-16 21:59] entrotech opened #1193 "Change the wording of the footnote on the Checklist"
### Overview
Change the wording of the footnote on the Checklist.

### Action Items
- [ ] Change the wording of the footnote (circled on the screenshot below to:
``` If your project’s land use is not listed above, please check LAMC Section 12.26 J.3(c) of the  Draft Revised TDM Ordinance for applicability and exemption details.```
- [ ] Make sure to still have "Draft Revised TDM Ordinance" as a li

[2022-06-16 22:16] entrotech opened #1194 "Change Text on the Target Points Page for Level 0 Projects."
### Overview
If the project specifications determine that a project is Level 0, the screenshot below shows the current appearance. We want to change the wording to:

[code]

### Action Items
- [ ] Make the change. Note that the word "may" should still appear in bold font.

### Resources/Instructions
Current appearance.
![image](https://user-images.githubusercontent.com/9939032/174185307-b9fba8a0-4

[2022-06-23 02:54] SMR9220 commented on #1137
#1192 created for development

[2022-06-23 02:57] SMR9220 commented on #1142
#1193 created by developer.

[2022-06-23 02:59] SMR9220 commented on #1143
#1194 created by developers

[2022-06-23 03:01] SMR9220 commented on #1180
Development pending

[2022-06-23 03:56] SMR9220 commented on #1141
Could we add greyed out text in the text field that prompts users to input address information in a specific format? Example:  "street, city, state, zip code"

[2022-06-28 23:05] ExperimentsInHonesty commented on #985
use the favicon from ladot.lacity.org

[2022-06-28 23:08] ExperimentsInHonesty commented on #1158
Emily says it should say:

[2022-06-28 23:19] ExperimentsInHonesty commented on #1141
Email says use this wording:

[2022-06-29 00:22] SMR9220 opened #1195 "Change Heading on pg 1 of application"
### Overview
Users do not see the full "TDM" spelled out until page 4.

### Action Items
Change Header to "Welcome to Los Angeles' Traffic Demand Management Calculator"

### Resources/Instructions
As per stakeholder meeting on June 28th meeting, it was agreed upon that the user should see the full name spelled out prior to using the TDM acronym
<img width="1440" alt="tdm" src="https://user-images.

[2022-06-29 07:54] Biuwa commented on #694
Approved Page Heading Changes for page 2:
**Enter Project Specifications**
Fill out the use specifications that apply to your project
**Determine Project Level**
Project Level (left Panel) and Citywide Parking Baseline (next page) are determined by the use specifications entered below.

[2022-06-29 07:58] Biuwa commented on #694
Approved Page Heading Changes for page 3:
**Calculate Project TDM Target Points**
Target Points (left panel) may be adjusted based on parking Spaces entered below

[2022-06-29 08:00] Biuwa commented on #694
Approved Page Heading Changes for page 4:
**Transportation Demand Management Strategies**
Select TDM strategies to earn points to reach the Target (left panel)

[2022-06-30 01:55] entrotech commented on #947
Actually, the problem did still exists, but there were other related bugs:
-  In the /server/.env file, we should have EMAIL_SENDER=tdm+sendgrid@hackforla.org, so that it matches what SendGrid expects. Since mine did not match, SendGrid was refusing to send the emails. This should not really have affected other devs of the production environment (which uses an LADOT Sendgrid account).
-  Moreover,

[2022-07-02 16:28] SMR9220 commented on #831
As per Emily and Xander, the wording of the notification box in the sidebar should be, "Automatically earned 2 points using the TDM Strategy Reduced Parking Supply for reducing parking by 10-24% below the Baseline." Please refer to [this document](https://docs.google.com/document/d/1mrSniJGLqQ-pxqes9hR0rQoFp7619PElCo_zMCCvOQk/edit#) at bookmark #1 for clarification with that specific example.

[2022-07-02 16:35] SMR9220 commented on #1142
The language changes suggested by Emily and Xander include subheadings, which will change the current format of the "Residential" portion on page 2 of the application. Renee will create mock ups for potential design ideas that include the subheaders. Please refer to [this document](https://docs.google.com/document/d/1mrSniJGLqQ-pxqes9hR0rQoFp7619PElCo_zMCCvOQk/edit#) bookmark #5 for further clarif

[2022-07-02 18:11] ExperimentsInHonesty commented on #1192
This is the text that Emily has approved

[2022-07-02 18:15] ExperimentsInHonesty commented on #1193
This is the new wording from Emily

Still waiting for the new draft ordinance link.  Must have by wed.

[2022-07-02 18:22] ExperimentsInHonesty commented on #1179
this did not get mocked up in time for our last stakeholder meeting, so it won't be implemented until we have mockups signed off by them and its after July 24th (when john returns).

[2022-07-02 18:27] #957 closed

[2022-07-02 18:28] #956 closed

[2022-07-02 18:31] #850 closed

[2022-07-02 18:36] entrotech opened #1197 "Modify Titles and Subtitles on Wizard Pages"
See final text on Issue #694

[2022-07-04 22:31] #1197 closed

[2022-07-04 22:39] #1195 closed

[2022-07-04 22:40] entrotech commented on #694
Work completed under development issue #1197

[2022-07-04 22:40] #694 closed

[2022-07-04 22:54] entrotech commented on #1141
The AIN/APN already had a tooltip, so I prepended the suggested wording to the existing tooltip:

<div>AIN(s) must include all the parcels in the project site.
  </div>
  <div>You may  look up your Assessor&apos;s Identification number on the
	<a href="http://maps.assessor.lacounty.gov" target="_blank" rel="noopener noreferrer">
	Los Angeles County Property Assessment Information System</a> portal

[2022-07-04 23:25] #1194 closed

[2022-07-04 23:26] #1192 closed

[2022-07-04 23:38] #1193 closed

[2022-07-05 01:26] #1190 closed

[2022-07-05 01:47] #1189 closed

[2022-07-05 15:15] entrotech opened #1206 "Make UI changes to how Reduced Parking Strategy is Represented"
### Overview
Some changes are probably needed for a better user experience related to the Reduced Parking Supply strategy. The discussion about what should be changed is in Section 1 of [this document](https://docs.google.com/document/d/1mrSniJGLqQ-pxqes9hR0rQoFp7619PElCo_zMCCvOQk/edit#heading=h.cojk99a0h5nz)

### Action Items
- [x] Bonnie to discuss with Emily and/or Alexander and finalize what i

[2022-07-05 22:57] ExperimentsInHonesty commented on #1181
![image](https://user-images.githubusercontent.com/37763229/177430516-48976d08-3d1e-41d6-86a4-9677b2793070.png)

[2022-07-06 20:23] entrotech opened #1209 "Change UI for Residential Project Specifications"
### Overview
This is the implementation of Issue #1181 .  The upshot is that the agreed-upon changes are represented in [this Google doc](https://docs.google.com/document/d/1mrSniJGLqQ-pxqes9hR0rQoFp7619PElCo_zMCCvOQk/edit#heading=h.cojk99a0h5nz), Section 5.

### Action Items
- [ ] Re-order rules as described in reference document.
- [ ] Change labels as in referenced document

### Resources/Instr

[2022-07-06 20:46] #1181 closed

[2022-07-06 20:46] #1209 closed

[2022-07-06 21:40] #1206 closed

[2022-07-09 04:02] Reneedesigns commented on #1179
- Added blue line under TDM Strategies
- Text and line turn to a "hyperlink" blue when hovered over
- Arrow pointer turns to hand pointer

![blue underline](https://user-images.githubusercontent.com/99779174/178089691-d92916ed-83c4-4776-8c73-86ab3ae102ad.PNG)

Figma Prototype "V7 blue underline flow"
https://www.figma.com/proto/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=4107%3A13052&scaling=min

[2022-07-09 17:16] ExperimentsInHonesty commented on #975
## [Date ]  Meeting Agenda

### Prework to prep for meeting
- [ ] #890
- [ ]
- [ ]

### Recurring items: Happens on the PM  Saturday meeting
- [ ] Review assignments for each PM
   - [ ] [Bonnie](https://github.com/hackforla/tdm-calculator/issues/assigned/ExperimentsInHonesty)
   - [ ] [Kevin](https://github.com/hackforla/tdm-calculator/issues/assigned/KPHowley)
   - [ ] [Seena](https://github.com

[2022-07-09 17:20] ExperimentsInHonesty commented on #975
About page has a link to
TDM Program Guidelines
The URL needs to be replaced with the new URL
https://planning.lacity.org/odocument/c3c9b320-4431-49ff-99d2-15b479c06074/Revised_DRAFT_TDMProgramGuidelines_June2022.pdf
 The wording of the display text should not change, only the link it goes to.

Project level zero (page 3) and the checklist has links to
Draft Revised TDM Ordinance
The URL needs to

[2022-07-09 17:50] ExperimentsInHonesty commented on #1051
@KPHowley In the guidance document you put a note

I spoke to Ebi today, and she was under the impression that you were going to provide more information.  Is it possible, you could record yourself talking about it, so that you can finish the knowledge transfer.  Or if you are not going to work on it, please let me know.

[2022-07-09 17:52] ExperimentsInHonesty commented on #1051
Sent Kevin an email asking him to look at the above comment

[2022-07-09 18:07] ExperimentsInHonesty commented on #1072
Emailed LADOT and LACP, waiting for reply

[2022-07-09 18:31] ExperimentsInHonesty commented on #794
@Jonathanko52 closing this issue

[2022-07-09 18:31] #794 closed

[2022-07-09 18:32] ExperimentsInHonesty commented on #719
@jahpe777 can you update the labels for this issue and then close it please.

[2022-07-11 15:19] Biuwa commented on #888
slide deck for 07/12:

https://docs.google.com/presentation/d/10vhbN_rVAr03MRAPn1wEBVafl7cmp1dJLF-J3FczGQI/edit?usp=sharing

[2022-07-11 15:23] Biuwa commented on #1051
Slide deck for 07/12:

https://docs.google.com/presentation/d/10vhbN_rVAr03MRAPn1wEBVafl7cmp1dJLF-J3FczGQI/edit?usp=sharing

[2022-07-12 01:00] SMR9220 commented on #865
<img width="1397" alt="about us link" src="https://user-images.githubusercontent.com/69442669/178385196-46b4fb76-343e-43f3-9d83-74710ffb3e7e.png">

The current TDM Program Guidelines link should be updated to the following URL:
https://planning.lacity.org/odocument/c3c9b320-4431-49ff-99d2-15b479c06074/Revised_DRAFT_TDMProgramGuidelines_June2022.pdf
The wording of the display text should not change

[2022-07-12 01:10] SMR9220 commented on #875
The current Draft Revised TDM Ordinance link should be updated to the following URL:
https://planning.lacity.org/odocument/bb9114b3-29e3-423f-8b91-027afb242e63/Revised_DRAFT_TDMOrdinance_June2022.pdf

The wording of the display text should not change, only the link it goes to.

[2022-07-12 01:14] SMR9220 commented on #1143
The current Draft Revised TDM Ordinance link should be updated to the following URL:
https://planning.lacity.org/odocument/bb9114b3-29e3-423f-8b91-027afb242e63/Revised_DRAFT_TDMOrdinance_June2022.pdf

The wording of the display text should not change, only the link it goes to.

[2022-07-12 02:36] Biuwa commented on #1168
@jahpe777 please look into this

[2022-07-12 02:40] SMR9220 commented on #1124
@jahpe777 can you please take a look at this issue, thank you.

[2022-07-12 02:44] #1131 closed

[2022-07-12 23:36] jahpe777 commented on #865
Updated the “About Page” link for “Proposed Ordinances and Initiatives"

[2022-07-13 00:04] Biuwa commented on #1179
Emily said to add 'Try hovering over a term you want more information on. If the words become underlined and bold, you can click for a description. Hovering over a green question mark will also provide more information' to help users notice the tooltips more efficiently.

[2022-07-13 00:25] ExperimentsInHonesty commented on #1130
Note about changing the control from a check box to mirroring the control on page 4 (drop down select), including the prompt and the tool tip.

Mirror the whole item (name, dropdown and tooltip), but don't show the points earned in  the left panel and circle until page 4 (just like the bike parking).

[2022-07-13 21:37] #865 closed

[2022-07-13 22:43] fyliu opened #1216 "Update Draft Revised TDM Ordinance link to June 2022 URL"
## Overview

Stakeholder directive: Update links to the new URL in Resources

## Action Items

The following places need to be updated:
- [x] p3 project level 0 text #1143
- [x] p1 checklist #875

## Resources

New URL for [Revised DRAFT TDM Ordinance June 2022](https://planning.lacity.org/odocument/bb9114b3-29e3-423f-8b91-027afb242e63/Revised_DRAFT_TDMOrdinance_June2022.pdf)

[2022-07-14 02:34] SMR9220 commented on #985
@entrotech does there need to be a development issue created for this?

[2022-07-14 03:17] #1216 closed

[2022-07-15 21:46] Reneedesigns commented on #1159
created 3 options for possible design  @SMR9220 @Biuwa

- Opt 1...placeholders with "required" and "optional" in appropriate boxes
- Opt 2...placeholders of only the "required" boxes
- Opt 3...groupings of required and optional titles with some separation between those two section

![opt 1](https://user-images.githubusercontent.com/99779174/179315151-6d25da12-ef2c-4f1c-ba0e-fa51e2310b18.png)
s
![o

[2022-07-16 16:55] SMR9220 commented on #975
# 2022-07-16 Meeting Agenda
**Pre-work to prep for meeting**

- [ ] #1159
- [ ] #865
- [ ] #1216

**Recurring items: Happens on the PM Saturday meeting**

 Review assignments for each PM

- [ ]  [Bonnie](https://github.com/hackforla/tdm-calculator/issues/assigned/ExperimentsInHonesty)

**New Items**

- [ ] Carryover Items to the next meeting that don't get addressed

FYIs
Notes from Meeting
Task I

[2022-07-16 17:21] Biuwa commented on #888
Slidedeck for 07/26:

https://docs.google.com/presentation/d/18KGJaBfoS3J4KDlVKZUo5cyQwQe97GC2CuodvvgzjaU/edit?usp=sharing

[2022-07-16 17:23] ExperimentsInHonesty commented on #1179
Get design to mock up the following text in a box underneath the items on page 1 (project setup)

Identify which items on the page, do not have tooltips or planned tool tips, so that we can write some draft language for each, for LACP/LADOT to review.

[2022-07-16 17:31] Biuwa opened #1218 "Draft Tooltips for page 1 for Stakeholder review"
### Overview
We need to draft language and get it signed off on by Stakeholder, so that we can implement changes to reduce user confusion about what we are asking for on page 1

### Action Items
- [x] present language to stakeholders at next meeting

### Resources/Instructions
- Related Issue #1158

[2022-07-16 17:36] ExperimentsInHonesty commented on #1218
- Project Name
  - The project name should be the way that you refer to the project in conversation
- Building Permit #
 - Building Permits are not required to use the TDM calculator.  If you already have a building permit and can provide it here, it may help reduce staff time when reviewing your materials
- LADOT Case #
  - You may not yet have a LADOT Case #, if you do have it, providing it here

[2022-07-18 03:18] SMR9220 opened #1219 "Research: Usability Test 3 for Tooltip Discoverability"
### Dependency
- [x] #1179
- [x] #1223

### Overview
We need to conduct a new user test to determine if it is clear to users that there are tooltips on page 1, as well as throughout the application so that we can know if we still need to make changes or if the changes we made solve the problem.

### Action Items
- [x] create research plan doc
- [x] Create test support materials
- [ ] add info wiki

[2022-07-20 02:47] jahpe777 commented on #1168
#1168 updated shared parking tooltip

[2022-07-20 02:58] jahpe777 commented on #1124
#1124 Updated Encouragement Program tooltip no.3

[2022-07-21 02:21] #1143 closed

[2022-07-21 02:39] #1168 closed

[2022-07-21 02:39] #1124 closed

[2022-07-23 17:32] ExperimentsInHonesty commented on #1141
The wording that emily provided for address says

What is says in the tooltip is

so it's missing the word `identification` at the end of the sentence

[2022-07-26 02:37] lexycatipon98 commented on #1179
- Added options of gray or blue textbox with bolded font

<img width="618" alt="Screen Shot 2022-07-25 at 7 34 20 PM" src="https://user-images.githubusercontent.com/107448816/180910627-18d7aae4-0255-41cd-a0ec-33e524f4171a.png">
<img width="593" alt="Screen Shot 2022-07-25 at 7 34 01 PM" src="https://user-images.githubusercontent.com/107448816/180910630-34ed7544-dfaf-426b-9dd4-04ee6945cca1.png">

[2022-07-26 23:14] ExperimentsInHonesty commented on #1136
Emily  says change it to reflect regulation

[2022-07-26 23:23] SMR9220 commented on #1159
Stakeholders preferred Option 1, as per 2022-07-26 meeting.

[2022-07-26 23:24] Biuwa commented on #1159
Stakeholders went with this option:
![unnamed](https://user-images.githubusercontent.com/98936028/181128899-559acd47-ca6b-4aa6-a082-83ac285129b4.png)

[2022-07-26 23:34] ExperimentsInHonesty commented on #1179
They choose bold light blue

[2022-07-26 23:38] Biuwa commented on #1179
![image](https://user-images.githubusercontent.com/98936028/181130280-5fca7880-a06b-48ac-829b-f6fe014ebe56.jpeg)

[2022-07-27 00:05] #1218 closed

[2022-07-27 00:17] ExperimentsInHonesty commented on #1179
Link to the figma page
Here is the text for the box and the tool tips for each item on page one that is missing a tool tip
https://docs.google.com/document/d/1CNWYzg_le3b_ncj7_ZeP3YUZumWfbkQ_FKtWUJr9IHU/edit

[2022-07-27 00:20] ExperimentsInHonesty commented on #1136
Next step is dev makes issue for this change

[2022-07-27 00:23] entrotech opened #1223 "Improve discoverability of tooltips"
## Overview
Since users sometimes don't notice the tooltips for the various fields on the Wizard pages, we want to make some changes to help the users discover the tooltips.

## Actions
- [x] Change the cursor to a pointer when the user hovers over a rule label that is a tooltip on all Wizard Pages.
- [x] Add the box and text as shown in the screenshot below, which only shows up on the first page

[2022-07-27 00:33] ExperimentsInHonesty commented on #1191
@mgodoy2023
Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate

[2022-07-27 23:58] entrotech opened #1224 "Change tooltip for Shared Parking Strategy"
### Overview
Per Emily Gable, the tooltip should be changed to:
`Share parking among different land uses or properties. A notarized agreement among tenants or property owners is required to receive points.`

### Action Items
- [ ] Write DB migration script to change the tooltip.

### Resources/Instructions
See issue #1136 for discussion and decision to proceed with change.

[2022-07-28 00:05] entrotech opened #1225 "Modify UI of Wizard Page 1 to emphasize required vs optional fields"
### Overview
Despite the standard asterisks used on the Wizard to denote required fields, some users were still unclear on what fields are required vs optional.

### Action Items
- [x] Add placeholder text for each field, indicating whether it is optional or required as shown in the screenshot below.

### Resources/Instructions
REPLACE THIS TEXT -If there is a website which has documentation that

[2022-07-28 00:16] entrotech commented on #1136
This design issue is closed - corresponding development issue is #1224

[2022-07-28 00:16] #1136 closed

[2022-07-28 00:18] entrotech commented on #1159
Created development issue #1225 for this.

[2022-07-28 00:18] #1159 closed

[2022-07-28 00:19] entrotech commented on #1179
Issue #1223 covers development of both Action items for this Project Management Issue.

[2022-07-28 00:30] entrotech opened #1226 "Changes to Page 1 Tooltips"
### Overview
Change tooltips for selected fields on Page 1 of Wizard per the Google doc in the Resources below

### Action Items
- [ ] Change tooltips
- [ ] release dependency on #1219

### Resources/Instructions
(https://docs.google.com/document/d/1CNWYzg_le3b_ncj7_ZeP3YUZumWfbkQ_FKtWUJr9IHU/edit)

[2022-07-28 02:35] SMR9220 commented on #1146
Will spell check be done manually or through a program?

[2022-07-30 17:08] Biuwa commented on #888
Slide deck for 09/09:

https://docs.google.com/presentation/d/1RkDZaVTVj9lQznTxYkWlr2VTTFeI_xQxWwndK8_B_7Y/edit?usp=sharing

[2022-07-31 01:23] jahpe777 commented on #1157
Fixed issue of Checklist Modal not showing up initially on every page. All Checklist links within Footer should work on every page now.

[2022-07-31 01:57] jahpe777 commented on #1157
Added animation for closing the Checklist modal so that the user will have a visual to where the Checklist button is if they want to see it again.

[2022-08-03 21:59] #947 closed

[2022-08-03 22:16] #1224 closed

[2022-08-03 22:31] entrotech commented on #1225
![image](https://user-images.githubusercontent.com/9939032/182723515-6eddca26-86f7-475f-aa49-49f76dd83152.png)

[2022-08-03 22:31] #1225 closed

[2022-08-03 22:32] #1158 closed

[2022-08-03 22:37] entrotech commented on #1061
Part of Issue #1223 ?

[2022-08-04 03:26] jahpe777 commented on #1223
Created new component, DiscoverTooltips, and inserted it within ProjectDescriptions

[2022-08-07 06:56] Biuwa commented on #1157
https://user-images.githubusercontent.com/98936028/183279098-741379a3-ab74-4746-82da-e04039036cb2.mov

[2022-08-09 05:44] Biuwa commented on #1061
Yes @entrotech

[2022-08-09 16:01] entrotech commented on #1223
There is a problem with the message box overlapping other page elements on device widths less than about 1200 pixels:

![image](https://user-images.githubusercontent.com/9939032/183701025-c0faebc8-ae6c-4ee5-9819-fc84ca90628a.png)

I realize the app is not really designed to work on narrow devices, but 1200 pixels is a pretty large minimum width for desktop devices.

[2022-08-09 16:36] jahpe777 commented on #1223
Corrected the width issue.

[2022-08-09 19:25] Biuwa opened #1231 "New Tooltips for Page 1"
@Reneedesigns Please mockup the field items having their existing tooltips and new ones for these items
- Project Name
  - The project name should be the way that you refer to the project in conversation
- Building Permit #
 - If you already have a Building Permit # and can provide it here, it may help reduce staff time when reviewing your materials.
- LADOT Case #
  - If you already have a LADOT

[2022-08-09 20:58] #1223 closed

[2022-08-09 23:08] ExperimentsInHonesty commented on #1157
showed it to stakeholders, we agree it should be a little slower.

[2022-08-09 23:09] ExperimentsInHonesty commented on #1179
please add the tool tips that are missing, see above.

[2022-08-09 23:19] ExperimentsInHonesty commented on #1141
This issue is closed because we added wording to all the items on the first page via issue #1218

[2022-08-09 23:20] ExperimentsInHonesty commented on #1084
@Jane4925
Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate w

[2022-08-09 23:28] ExperimentsInHonesty commented on #768
This was done.  See wiki for research communication details

[2022-08-09 23:28] #768 closed

[2022-08-09 23:34] ExperimentsInHonesty commented on #1226
Here is the new wording to use, signed off by Emily
- Project Name
  - The project name should be the way that you refer to the project in conversation.
- Building Permit #
   - If you already have a Building Permit # and can provide it here, it may help reduce staff time when reviewing your materials.
- LADOT Case #
  - If you already have a LADOT Case # and can provide it here, it may help reduc

[2022-08-09 23:34] ExperimentsInHonesty commented on #1218
- Development issue https://github.com/hackforla/tdm-calculator/issues/1226

[2022-08-09 23:39] #1179 closed

[2022-08-09 23:41] ExperimentsInHonesty commented on #1115
Out of date

[2022-08-09 23:41] #1115 closed

[2022-08-09 23:47] ExperimentsInHonesty commented on #1061
outdated

[2022-08-09 23:47] #1061 closed

[2022-08-09 23:48] Biuwa commented on #1157
@jahpe777 During today's meeting, stakeholders sought to slow down the checklist closing animation as the speed was too fast.

[2022-08-09 23:48] ExperimentsInHonesty commented on #1041
We decided not to keep this up, we just use a google sheet

[2022-08-09 23:48] #1041 closed

[2022-08-09 23:54] ExperimentsInHonesty commented on #950
Page 1
- [ ] Project Name
- [ ] Address
- [ ] AIN/APN (Assessor’s Identification Number)
- [ ] Alternative #
- [ ] Building Permit #
- [ ] LADOT Case #
- [ ] City Planning Case #
- [ ] Project Description *

Page 2

[2022-08-10 00:06] ExperimentsInHonesty commented on #875
The checklist is live

[2022-08-10 00:06] #875 closed

[2022-08-10 00:08] ExperimentsInHonesty commented on #866
Emily and Alexander are we ready to make this or should we hold off until approval from Planning Commission

[2022-08-10 00:09] ExperimentsInHonesty commented on #719
No longer an issue because we moved to dial format

[2022-08-10 00:09] #719 closed

[2022-08-10 00:22] Biuwa opened #1233 "Create Favicon"
Emily and Alexander said to use the favicon from ladot.lacity.org

https://ladot.lacity.org/sites/default/files/sotvmlfn_400x400.jpg

_Originally posted by @ExperimentsInHonesty in https://github.com/hackforla/tdm-calculator/issues/985#issuecomment-1169372182_

[2022-08-10 22:11] entrotech commented on #1233
Duplicate of issue #985

[2022-08-10 22:11] #1233 closed

[2022-08-10 22:16] #985 closed

[2022-08-10 22:23] entrotech commented on #950
No changes required. All Form Labels had an htmlFor attribute pointing to the corresponding input tag.

[2022-08-10 22:23] #950 closed

[2022-08-10 22:38] #1226 closed

[2022-08-10 22:38] #1141 closed

[2022-08-10 22:44] entrotech commented on #945
This isn't actionable, as it doesn't identify specific examples.

[2022-08-10 22:44] #945 closed

[2022-08-10 23:01] entrotech commented on #1151
Point sizes of text aren't exact in Figma, so I just eyeballed the sizing and spacing of the text and labels.

[2022-08-10 23:04] #1151 closed

[2022-08-11 02:38] #1231 closed

[2022-08-11 02:50] jahpe777 commented on #1157
slowed down speed of animation from 1000ms to 1500ms

[2022-08-13 15:28] Biuwa commented on #888
Slide deck for 08/23:

https://docs.google.com/presentation/d/1g1AQnyweSqwRF36IrVdpgT1fVmTWXtytmcBMQf3f6KM/edit?usp=sharing

[2022-08-13 16:56] SMR9220 commented on #975
# 2022-08-13 Meeting Agenda
**Pre-work to prep for meeting**

- [ ] #890

**Recurring items: Happens on the PM Saturday meeting**

 Review assignments for each PM

- [ ]  [Bonnie](https://github.com/hackforla/tdm-calculator/issues/assigned/ExperimentsInHonesty)
- [ ] [Syria](https://github.com/hackforla/tdm-calculator/issues/assigned/smr9220)
- [ ] [Ebi](https://github.com/hackforla/tdm-calculator

[2022-08-16 23:26] Biuwa commented on #1157
Slowed down checklist closing Animation

https://user-images.githubusercontent.com/98936028/185002128-3917adba-aec4-401d-a5b2-47c3d6c81ce1.mov

[2022-08-18 02:39] #1157 closed

[2022-08-18 03:32] entrotech commented on #1075
Actually, CCPA only applies to California residents for-profit organizations, NOT to government or non-profit organizations - though it would probably be best practice to more-or-less comply with the requirements anyway.

[2022-08-20 07:10] Reneedesigns commented on #42
FAQ (screen examples- initial question list and answer views-not prototyped) @SMR9220 @Biuwa

https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=3331%3A11982

Option 1- Boxes expand to answers with caret icons

![FAQ option 1](https://user-images.githubusercontent.com/99779174/185733410-248b2055-2d55-4188-b24f-3567619f82d5.png)

Option 2- Similar to design from LADOT's FAQ se

[2022-08-23 23:26] Biuwa commented on #42
Stakeholders went with option two (2) at today's meeting.

![image](https://user-images.githubusercontent.com/98936028/186283191-2863af7e-f950-4d7c-9e68-a135d0abefd6.png)

[2022-08-23 23:27] Biuwa commented on #42
They also want to have an expand all feature added to option 2

[2022-08-23 23:35] Biuwa commented on #1072
Emily confirmed that the public comment page will go live on September 22nd, 2022

[2022-08-23 23:42] Biuwa commented on #866
Emily says 'Keep on hold till after the subsequent User testing and after the City-Attorney has spent some time with the ordinance, which might be at the end of the year'

[2022-08-23 23:46] Biuwa commented on #877
Add a link to the Glossary at the bottom right next to Checklist, also to the FAQ page and the about page

[2022-08-25 01:34] entrotech opened #1238 "Implement Server-Side Request Validation and API endpoint tests"
### Dependency:
**This issue tracks all sub issues below. It can be closed upon completion of all sub issues**

### Overview
A best practice is for the Web API server to verify that the body of all requests meet appropriate validation criteria. We need to create a workflow for testing all endpoints. We will need to set up tests and web API request validation for the endpoints.
Each route must comp

[2022-08-25 02:27] entrotech opened #1239 "Update Privacy Page Links"
### Overview
The Privacy page has many links to https://ladot.lacity.org/tdmcalculator, which (I think) should be changed to the correct url for TDM (https://tdm.ladot.lacity.org)

### Action Items
- [x] Verify that this is the intent
- [x] Implement the change in the links.

### Resources/Instructions
The existing link point to a page that describes the calculator, and then has a button which is

[2022-08-25 02:28] SMR9220 opened #1240 "Add glossary link to footer on "About" page"
### Overview

We need to mock up adding Glossary links to the Calculator site so that we can get signoff by stakeholder

### Additional info
- This is the design issue for #877

### Action Items
- [x] Add glossary link to footer, right next to the checklist
- [x] Add glossary link to the additional resources section of the About page
- [ ] Add glossary link to the FAQ page

### Resources/Instructi

[2022-08-25 02:31] #877 closed

[2022-08-25 02:46] Biuwa commented on #888
Slide deck for 09/06:

https://docs.google.com/presentation/d/1yfdkoXwrBdCnKOj7wRnTYZDAqGj218xvV6wYmrJIW0U/edit?usp=sharing

[2022-08-27 03:37] Biuwa commented on #877
#1240 is the design issue

[2022-08-27 17:43] ExperimentsInHonesty commented on #1240
@Reneedesigns

### Story 1
As a user, I want to be able to lookup a word in the calculator that I don't understand, by clicking on a glossary link, without loosing my place.

#### Details that inform the design choices
The about page is inaccessible when you are in the calculator.  If you are not logged in, you will get the following message when you try to click on the About link.
![image](https:

[2022-08-27 17:57] ExperimentsInHonesty commented on #1075
It sounds like we need to find out if Alexander and Emily are interested in sending this to Legal or their department heads for prioritization.  If they are not, we need to determine if HfLA/TDM team wants to prioritize it.

So adding this to agenda with the question
Is it ok for us to add items to future agendas related to GDR Compliance https://gdpr.eu/checklist/ as HfLA works through complying

[2022-09-01 01:32] Reneedesigns commented on #1240
Glossary added to three areas: footer, About page "Additional Resources", and FAQ page as a question @SMR9220 @Biuwa

https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=6814%3A24520

![Glossary added to footer](https://user-images.githubusercontent.com/99779174/187813290-fa23b645-b10c-41de-af35-b6d1c8945a6b.png)

![Glossary added to About resources](https://user-images.github

[2022-09-01 04:03] lexycatipon98 commented on #76
CHANGES:

- Added rearrange questions feature for Admin Mode, proposed drag and drop function with green highlight on the question being moved, proposed dotted lines to box questions in Admin Mode rather than the separating lines in the regular view
- Added icons to questions for edit and delete questions functionalities
- Added "+ Add new question" button for adding new FAQ functionality

MOCKUPS

[2022-09-03 04:40] Reneedesigns commented on #42
Chosen "Expand All" screen (no box)  at 8/31 team mtg @SMR9220 @Biuwa
Secondary option screen has green box

https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=6820%3A24494

![FAQ expand 1](https://user-images.githubusercontent.com/99779174/188256037-498757b0-20f8-469b-bf0e-bd1c0754f951.png)

![FAQ expand all](https://user-images.githubusercontent.com/99779174/188256054-724e7

[2022-09-05 20:08] Reneedesigns commented on #76
-Added edit screens from suggestions at 9/3 mtg.
-Dash line placement on option 3 varies, please select preference

Screen Views in Figma
https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=6873%3A25085

![Option 2](https://user-images.githubusercontent.com/99779174/188508057-f0507b27-3711-4add-b1c9-89e51e920db9.png)

![Option 3a](https://user-images.githubusercontent.com/9977

[2022-09-06 23:12] Biuwa opened #1241 "Create FAQ Content"
### Overview
Come up with questions that will be included in the FAQ screen

### Action Items
- [x] UX research team draft up common questions from user testing
- [x] Review the draft with Bonnie and PM team and make revisions
- [x] Review the draft with stakeholders and get feedback

### Resources/Instructions
- [User testing 2 issue tracker](https://docs.google.com/spreadsheets/d/1SWcf55uRkXV41u

[2022-09-06 23:14] ExperimentsInHonesty commented on #1240
Alexander said locations are fine.  Language for question is fine

[2022-09-06 23:16] ExperimentsInHonesty commented on #42
Alexander says use the green box version

[2022-09-06 23:16] Biuwa commented on #42
Stakeholders went with this option:

![image](https://user-images.githubusercontent.com/98936028/188756336-deb308d6-4243-49ab-9639-c90ba95ab3ed.png)

[2022-09-06 23:18] Biuwa commented on #76
Stakeholders went with this option:

![image](https://user-images.githubusercontent.com/98936028/188756587-50fa5e6d-32c3-4840-9c6b-e2120da041eb.png)

[2022-09-06 23:22] ExperimentsInHonesty commented on #1075
John asked "Where is the document that says it's not required of nonprofits and government"

Alexander said he thinks it's fine if we include it, as long as we are sensitive to their schedule priorities.  So we will add any items to the deck with a note indicating it can be skipped for time)

[2022-09-06 23:24] dreams0ng commented on #42
Hi!

Hope you’re doing great Bonnie! Can someone please unsubscribe me from this chain, please?

[2022-09-06 23:29] Biuwa commented on #1240
@Reneedesigns
Please make this correction in the FAQ Question where the glossary is linked:

'Check out the TDM Program Guidelines PDF glossary, which is linked in the footer on every page'

[2022-09-06 23:36] ExperimentsInHonesty commented on #76
User test these with a larger group using [UsabilityHub | User Research & Usability Testing Platformhttps://usabilityhub.com](https://usabilityhub.com/)

[2022-09-06 23:43] Biuwa commented on #76
John suggested a 2 line question should be prototyped so we can help determine

[2022-09-06 23:48] ExperimentsInHonesty commented on #42
@dreams0ng, only you can unsubscribe yourself.  Open this issue and click on the button. It looks like this
![image](https://user-images.githubusercontent.com/37763229/188759187-685ba885-9591-41d8-9320-d478617b9566.png)

[2022-09-06 23:50] ExperimentsInHonesty commented on #42
#76 should get decided first, and then mockup made of that page, with the two options on the expand/collapse

[2022-09-12 01:00] jahpe777 commented on #962
Fixed row spacing #962

[2022-09-13 03:35] Reneedesigns commented on #76
@Biuwa @SMR9220

Admin-icons left side
![2 question line-admin  1](https://user-images.githubusercontent.com/99779174/189801472-cfb4b394-7cbd-4979-ad82-ca04b0b2cae9.png)

Admin-icons right side
![2 question line admin 2](https://user-images.githubusercontent.com/99779174/189801547-9ecdc2a2-f305-4278-9da7-3665624c3b91.png)

User-facing collapsed questions
![2 question line user-facing 1](https://us

[2022-09-13 22:22] SMR9220 commented on #898
@ExperimentsInHonesty Are we moving forward with [this](https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/?node-id=2626%3A11673) Figma design, or does the button design need to be revised? Just want to verify before I change the labels on this issue.

[2022-09-13 22:27] #871 closed

[2022-09-13 22:33] #441 closed

[2022-09-13 22:35] #420 closed

[2022-09-13 22:36] #406 closed

[2022-09-13 22:41] SMR9220 commented on #314
@ExperimentsInHonesty Should the role for this issue be development? Or have these designs systems already been created/implemented into the application, and this issue can be closed?

[2022-09-13 22:50] SMR9220 commented on #23
@ExperimentsInHonesty Is this issue outdated?

[2022-09-15 02:19] SMR9220 commented on #42
Design wants to move forward with the text only option.

[2022-09-15 02:35] #962 closed

[2022-09-16 22:46] awikstrom-ladot opened #1243 "Electric Vehicle Bonus/Electric Transit Vehicle Bonus are selectable at all times"
### Overview
On pg 4 of the application, if no Car Share strategies have been selected, "Electrical Vehicle Bonus" should be greyed out.

Also, further down on this page, if no Neighborhood Shuttle/Microtransit Service strategies have been selected, "Electrical Transit Vehicle Bonus" should be greyed out.

### Action Items
- [x] If no Car Share strategies have been selected, make "Electrical Vehic

[2022-09-18 19:59] Jane4925 commented on #76
UX team will start testing on the week of 09/19/2022

[2022-09-18 20:09] bkobak33 commented on #1241
Initial draft of FAQ page drafted by UX Research Team: https://docs.google.com/document/d/1M6ejOzg07wTAz8Y1FXckq6e6NUAz36HKyGRJDn3DBms/edit#heading=h.fpzuqsb8fyps

[2022-09-22 02:37] SMR9220 commented on #1243
@jahpe777 can you please review this issue, thank you.

[2022-09-29 01:10] SMR9220 opened #1244 "Greyed out text explanations"
### Overview
Users are unsure why certain strategies on pg 4 of the application are greyed out.

### Action Items
- [x] Get copy of all the strategies from LADOT
- [x] Copy strategies to spreadsheet
- [x] Add the name of the tooltip to spreadsheet (column B `tooltip title`)
- [x] Hide all strategies that have `---` in the `Non-Applicable Land Use`  Column
- [x] Copy the reduced list (only the stra

[2022-10-01 16:36] SMR9220 opened #1245 "Sidebar Tooltip typo"
### Overview
The word "selection" is misspelled in the first paragraph.

### Action Items
- [ ] Correct this typo

![Typo](https://user-images.githubusercontent.com/69442669/193419270-dd8ecae6-35eb-4bee-a236-ba0a235d0c90.png)

[2022-10-01 16:40] SMR9220 opened #1246 "Project Description Asterisk"
### Overview
We need the required fields markings on page 1 of the calculator to be accurate so that uses know which fields they can skip.

### Action Items
- [ ] Remove the asterisk for "Project Description"

![Asterisk](https://user-images.githubusercontent.com/69442669/193419406-396b152e-708d-49f5-b8a1-9636c2e7730e.png)

[2022-10-01 16:44] Biuwa commented on #888
Slide deck for 10/04:

https://docs.google.com/presentation/d/1zzLf7lrnQhVT4-yGkz_4QiUVnQGD4uBCFvUpBJ-lu34/edit?usp=sharing

[2022-10-01 18:00] ExperimentsInHonesty commented on #888
Agenda Items
- #1243 to get clarification from Stakeholder that we understand what they are asking for (usually John would lead this discussion)
- #1244 - to discuss the need for information on greyed out item tool tips to increase transparency for users which will enable them to use the strategies effectively
- We have identified a few misspellings on the site.  We will be installing a Spell Chec

[2022-10-04 23:17] ExperimentsInHonesty commented on #1243
Electrical Vehicle Bonus will be available only if one or more of the following options have been selected:
- Car share parking
- Car Share Memberships
- Private Car Share Fleet

Care Share bonus is working as expected (it's auto if you choose two or more of the above options).

[2022-10-04 23:19] ExperimentsInHonesty commented on #1243
Electric Transit Vehicle Bonus should be grayed out and not selectable unless the user has chosen one of the options in the Neighborhood Shuttles/Microtransit Service drop down.

[2022-10-04 23:37] ExperimentsInHonesty commented on #1244
@awikstrom-ladot will provide a document with the Appendix C table in it so that HfLA team can create a document for tooltip text.

[2022-10-04 23:42] awikstrom-ladot commented on #1244
Link to the Appendix C table doc: https://docs.google.com/document/d/1JPBUCZJjRq_4pWqMDuh4Qr3ffkIFMbB0/edit

[2022-10-05 04:36] jahpe777 commented on #1243
Updated Electric Vehicle Bonus/Electric Transit Vehicle Bonus #1243

[2022-10-08 17:05] SMR9220 commented on #975
# 2022-08-13 Meeting Agenda
**Pre-work to prep for meeting**

- [ ] #1244

**Recurring items: Happens on the PM Saturday meeting**

 Review assignments for each PM

- [ ]  [Bonnie](https://github.com/hackforla/tdm-calculator/issues/assigned/ExperimentsInHonesty)
- [ ] [Syria](https://github.com/hackforla/tdm-calculator/issues/assigned/smr9220)
- [ ] [Ebi](https://github.com/hackforla/tdm-calculato

[2022-10-08 17:10] Biuwa commented on #888
https://docs.google.com/presentation/d/1l8qEhuv759MAvrXB1am_4jsUuzLyfRA7NDRSPuwB0FY/edit?usp=sharing

[2022-10-08 17:24] ExperimentsInHonesty commented on #975
re the faq document.
- [ ] The notes about history of the doc should be in the issue
- [ ] the prior version should be in a doc by itself
- [ ] the new version in its own document, read for editing by the stakeholder

[2022-10-11 08:29] awikstrom-ladot commented on #1145
The package should apply to all Level 1 projects that reach 15 points, so
<110% of baseline

On Wed, May 18, 2022 at 7:53 PM John Darragh ***@***.***>
wrote:

--
*Alexander Wikstrom*
Transportation Planning Associate II
Transportation Policy and Planning
Los Angeles Department of Transportation
213.972.4901  <https://twitter.com/LADOTofficial>
<https://www.instagram.com/ladotofficial>
<https://www

[2022-10-12 22:17] jarmitageux commented on #1219
Progress: Testing completed, analysis begun
Blockers: none
Availability: meeting 2x/week and asynchronous work between
ETA: for complete report for leads review Nov 5th

[2022-10-12 22:40] jarmitageux commented on #76
Progress: Testing completed 10/1/2022, analysis completed, report in progress
Blockers: none
Availability: team will review report this week
ETA: report draft ready for leads meeting Oct. 15th

[2022-10-12 23:52] Biuwa commented on #1241
**From Jill-9/30/2022** _*Comments from the Google Doc_
I reviewed our consolidated FAQ questions and found that most of them are already answered on well-crafted and well-organized content on the LACP and LADOT websites.

I propose that it’s better to link to their information, so there’s one place for updates to be made, reducing the burden of re-creating content and managing separate content in

[2022-10-13 00:08] Biuwa commented on #1241
**Comment from Jill-Sept 30th on the Google Doc**
The name of this linked [document](https://planning.lacity.org/odocument/c3c9b320-4431-49ff-99d2-15b479c06074/Revised_DRAFT_TDMProgramGuidelines_June2022.pdf) is "Transportation Demand Management (TDM) Program Guidelines". When titling things or creating labels, I try to think of the user experience and what will be most clear and helpful to them i

[2022-10-13 02:58] jahpe777 opened #1248 "Create Customer Facing FAQ Page"
### Overview
Implement the customer facing FAQ page.

### Action Items

- [x] Create new page for FAQ and add link to the Navbar
- [x] Create accordion style questions / answer rows
- [x] Implement button functionality for expansion / closing
- [x] Style per pertinent Figma files (Design wants to move forward with the text only option, no boxes around expanded questions.)
- [ ] Finalize questions

[2022-10-15 02:58] #1243 closed

[2022-10-15 03:09] #1245 closed

[2022-10-15 03:14] #1246 closed

[2022-10-15 03:40] entrotech commented on #1244
@ExperimentsInHonesty @SMR9220 @awikstrom-ladot

[StrategyAppllicabilityRules.csv](https://github.com/hackforla/tdm-calculator/files/9791073/StrategyAppllicabilityRules.csv)

The displayFunctionBody column of this csv file gives a Javascript expression that is evaluated to determine if the strategy is applicable (i.e. not greyed out in tht UI).  The tokens in double angle brackets represent the va

[2022-10-15 03:43] entrotech commented on #1244
It is possible to have different tooltips depending on whether a strategy is applicable or not, but IMO, it would be more helpful if the same tooltip applied in either case and the applicability was added to the description of the strategy in the tooltip.

[2022-10-15 04:12] Jane4925 commented on #975
FAQ page content and design preference testing report to be discussed and reviewed before putting into stakeholder meeting slide deck: https://docs.google.com/presentation/d/1d9ikjG6OdJY_oOSEFZ-hI9927UjtuDYWvP-c_GL2K4c/edit#slide=id.gffee5f5b37_0_20

[2022-10-15 16:54] Biuwa commented on #975
### 2022-10-15 Meeting Agenda

Pre-work to prep for the meeting

 https://github.com/hackforla/tdm-calculator/issues/890
[ ]
[ ]
Recurring items: Happens on the PM Saturday meeting

Review assignments for each PM

- [ ] [Bonnie](https://github.com/hackforla/tdm-calculator/issues/assigned/ExperimentsInHonesty)
- [ ] [Syria](https://github.com/hackforla/tdm-calculator/issues/assigned/smr9220)
- [ ]

[2022-10-15 18:45] ExperimentsInHonesty commented on #1240
This design for adding Glossary has been accepted by the stakeholder and now need to have a dev issue created

[2022-10-15 18:49] ExperimentsInHonesty commented on #42
These are final designs

https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=6820%3A24494

![FAQ option 1](https://user-images.githubusercontent.com/99779174/188256125-b6299550-2c0b-46da-b74d-fefed7f3bf1b.png)

![FAQ expand all](https://user-images.githubusercontent.com/99779174/188256054-724e7563-87cf-4d44-98e6-90c1ba63a69e.png)

![FAQ one question expanded](https://user-imag

[2022-10-15 18:51] ExperimentsInHonesty commented on #42
The dev issue has been made https://github.com/hackforla/tdm-calculator/issues/1248

[2022-10-15 18:51] #42 closed

[2022-10-15 19:49] entrotech commented on #1151
Here is what the final implementation looks like. The Target Points circle isn't quite as large as Renee's design, but may be close enough:

![image](https://user-images.githubusercontent.com/9939032/196005228-48bea39b-5784-4f6e-a8be-e6046ecf6fc6.png)

[2022-10-18 23:32] Biuwa commented on #1240
During the meeting today it was decided that the glossary will link to Page 48 of the [Program Guidelines](https://planning.lacity.org/odocument/c3c9b320-4431-49ff-99d2-15b479c06074/Revised_DRAFT_TDMProgramGuidelines_June2022.pdf)

[2022-10-18 23:37] Biuwa commented on #1241
Xander and Emily will be emailed a draft of the FAQ for their review, and we will revisit this issue in the next two meetings to determine whether there have been any updates.

[2022-10-19 00:16] Biuwa commented on #1244
During today's meeting Xander agreed that it will be okay if add atext to the top tooltip that explaining why the strategy is grey out

[2022-10-19 00:23] SMR9220 commented on #1241
https://helpx.adobe.com/acrobat/kb/link-html-pdf-page-acrobat.html

This link will help correct the deep linking issue.

[2022-10-20 02:35] SMR9220 opened #1251 "Greyed out enablement text"
### Action Items
create mock ups for additional text to be added to pre existing tooltips, for strategies that are greyed out

### Resources/Instructions
[Tooltip edits for greyed out text](https://docs.google.com/document/d/1ctMRX48Q5PHh-5B5WtO3AoLHwNjxwmVOP3W2_ymQYi4/edit)

[2022-10-20 04:55] entrotech commented on #1031
Not needed.

[2022-10-20 04:55] #1031 closed

[2022-10-20 04:58] entrotech commented on #1142
@SMR9220  Can we close this?  I think the language change described above was superceded by a different issue to just be "Condominium Units".

[2022-10-20 21:15] entrotech opened #1257 "Fix Azure Application Insights Warning"
### Overview
When starting the Web API server from a terminal in the dev environment, we get the follow output:
[code]
the line
[code]
indicates a error in how Application Insights is integrated with the application.

### Action Items
- [ ] Investigate the warning and fix it.

### Resources/Instructions

[2022-10-20 21:24] entrotech opened #1258 "Migrate Application Insights to Workspace-based Application Insights"
### Dependency
- [x] #1325
- [x] #1267
  - John Wrote, So far, I have been able to hook up the DEV environment, but I'm blocked on setting up the UAT and Production environments, due to permission issues with the city's Azure account.

### Overview
Application Insights is the Azure Analytics platform that TDM nominally uses for collecting user activity metrics. Per the screenshot below from our De

[2022-10-22 14:53] Biuwa commented on #888
https://docs.google.com/presentation/d/1p_gTd6UbjqymS3qlHbZdQPPbnGaPdJxj46pcoQUV_dI/edit?usp=sharing

[2022-10-22 16:36] Reneedesigns commented on #76
Features needed per testing @jarmitageux @Jane4925

- Categories (currently 5)
- Move questions around quickly at once (currently have "dots" icon in place)
- Clear indicator of Save/Edit mode
- Edit abilities for all areas (categories, questions, and answers)

[2022-10-27 02:50] Reneedesigns commented on #76
Per 10/26 team meeting discussion, implement TDM FAQ Draft questions into the current FAQ screens

[2022-10-27 02:53] #1139 closed

[2022-10-27 02:58] #1132 closed

[2022-10-29 02:26] Noushie commented on #1251
@SMR9220 @Biuwa

**MOCKUP 1 (SELECTED TO SHOW STAKEHOLDERS AS OF 10/26 MEETING)**

Grey Tool Tip Fix V1.1: User Tooltip Warning Message

**CHANGES MADE**

- Added warning/informational text w/ icon to disabled tooltip

 **MENTIONS**

- According to development (John), to avoid any changes in logic, warning message would be better phrased as "This cannot be selected unless 'Bike Share Station' has

[2022-10-29 02:30] Noushie commented on #1251
**MOCKUP 2**

Grey Tooltip Fix V1.2: User Tooltip Warning Message + Highlighted Hover

**CHANGES MADE**

- Added warning/informational text w/ icon to disabled tooltip (same as version 1.1)
- Added highlighted hover of disabled row (to grab user attention)

**MENTIONS**

According to development (John), to avoid any changes in logic, warning message would be better phrased as "This cannot be selec

[2022-10-29 02:36] Noushie commented on #1251
**MOCKUP 3**

Grey Tooltip Fix V2.1: Clickable Information Icon

**CHANGES MADE**

- Added clickable conditional information icon (i.e., only present when text is disabled) to tell user why the option is disabled

**MENTIONS**

Development (John) mentioned they'd rather have the message exist regardless of text being enabled/disabled

![Grey Tool Tip Fix V2](https://user-images.githubusercontent.c

[2022-10-29 02:39] Noushie commented on #1251
**MOCKUP 4**

Grey Tooltip Fix V2.1: Hover Information Icon

**CHANGES MADE**

- Same as version 2.1 (information icon with a side tooltip), but changing user interaction from clicking to hovering over information icon

**MENTIONS**

Development (John) mentioned they'd rather have the message exist regardless of text being enabled/disabled

![Grey Tool Tip Fix V2 1](https://user-images.githubuserc

[2022-10-29 16:07] SMR9220 opened #1259 "Change AIN# placeholder text after entering a number"
### Overview
After user inputs an AIN number and presses enter to go to the next field, the AIN number textbox still has the "required" placeholder text in it.  See bottom of this comment for a related keyboard input issue.

### Action Items
- [ ] Have the required text change to optional when there is one or more values provided by user in the field.

### Resources/Instructions
Video showing the

[2022-10-29 16:28] SMR9220 commented on #975
## [Date ]  Meeting Agenda

### Prework to prep for meeting
- [ ] #878 is this outdated, can we close it?
- [ ] #866 is this outdated, can we close it?

### Recurring items: Happens on the PM  Saturday meeting
- [ ] Review assignments for each PM
   - [ ] [Bonnie](https://github.com/hackforla/tdm-calculator/issues/assigned/ExperimentsInHonesty)
   - [ ] [Syria](https://github.com/hackforla/tdm-cal

[2022-11-03 01:46] #1248 closed

[2022-11-03 02:52] entrotech commented on #76
For the question deletion warning dialog, it could be designed like the one for deleting projects:

![image](https://user-images.githubusercontent.com/9939032/199639137-e464b9fe-c760-4d18-8b4f-196d63a73c77.png)

[2022-11-03 03:07] entrotech opened #1261 "Update the User-Facing FAQ Page Implementation to include categories"
### Overview
Update the User-Facing FAQ Page Design to include categories

### Action Items
- [x] Decide on, and implement the required database changes. Normally, I would create a separate table FaqCategory and add a foreign key from the Faq table to the FaqCategory table, However, with the way the administration screen for FAQs is intended to work, it might be easier to represent categories as r

[2022-11-03 04:33] jarmitageux commented on #76
Jamie sketched out 2 FAQ admin design options and created these narrative videos explaining them.

https://user-images.githubusercontent.com/92768513/199647943-a5980614-904f-4615-8181-a9eaf993f048.mov

https://user-images.githubusercontent.com/92768513/199648038-34850fe4-998a-4aa5-8626-f8880d284f8f.mov

[2022-11-03 04:34] jarmitageux commented on #1259
Here is a video showing the issue.

https://user-images.githubusercontent.com/92768513/199648225-d665e7d6-6387-427a-9303-ebdf1faf8830.mov

[2022-11-03 05:00] Reneedesigns commented on #1261
Screenshots: Selected screens per 11/2 team meeting
Categories within banner with questions collapsed and some answers expanded

Figma link to screens
https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=7089%3A24872

https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=7089%3A24872

https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=70

[2022-11-05 16:50] entrotech commented on #1112
@ExperimentsInHonesty @Ebi @SMR9220

I fixed a few minor problems with development-related links, but need to pass this to a PM for the following:

- [ ] Wednesday Check in Links need the milestone part of the query updated?
- [ ] Saturday Weekly Check In - Issues that are missing labels hasn't been updated since 10/23/2021
- [ ] Should we delete old links section? None of the links seem to be com

[2022-11-05 16:52] #946 closed

[2022-11-05 16:58] entrotech opened #1262 "Implement Changes to Public Comment Page"
Implement the changes to the Public Comment Page described in UIUX Issue #1001

[2022-11-05 17:09] ExperimentsInHonesty commented on #878
This came out of UXR 01 and has been addressed by several issues and new research was done UXR 02 that replaces this general item

[2022-11-05 17:09] #878 closed

[2022-11-05 17:11] ExperimentsInHonesty commented on #866
At one point we thought the video would address these issues.  We hope that we have addressed these issue in the app itself.  But its a good list to reference when making a script for the video.

### Notes
The video should be able to address the below issues from the usability testing
https://docs.google.com/spreadsheets/d/1SEd8uPOwOmEMdsDR_pylZ2tiByopzPrmlqB5Y4Ka4xc/edit?usp=sharing

- [ ] Bonus

[2022-11-05 17:22] ExperimentsInHonesty commented on #975
Meeting notes
- Ebi will find information from prior presentations about data format for submission and Emily connecting us to the person at the city in charge of it.  Let's make an issue if there isint one.  Add that issue to the next agenda with stakeholder and Saturday agendas too.

[2022-11-05 17:45] Biuwa opened #1263 "Introduction to the LADOT Setting data standards team"
### Overview
During the stakeholder meeting on 10-18-22, Emily confirmed introducing the LADOT (PDF) setting data standards submission team to Bonnie.

### Action Items

- [ ] Remind Emily in every stakeholders' meeting till it is provided.
- [ ] Create the Team's Milestone/Road Map

### Resources/Instructions
https://docs.google.com/presentation/d/1l8qEhuv759MAvrXB1am_4jsUuzLyfRA7NDRSPuwB0FY/edit

[2022-11-05 17:46] Biuwa commented on #888
Add Issue #1263 to the Agenda for the next slide deck

[2022-11-08 23:14] jamiedesignedit commented on #76
Admin-facing FAQ page built off of Renee's design for the user-facing FAQ page w/ categories.

**Updates:**

- Keeping grippy dots because feedback was that they wanted to be able to move questions around quickly
- Made grippy dots darker grey because of accessibility, lighter grey wasn't contrasted enough on white background
- Added "edit section" and "save edits" button at top left that brings y

[2022-11-09 03:35] Biuwa commented on #1244
[TDM Tooltip Edits for Greyed out text](https://docs.google.com/document/d/1ctMRX48Q5PHh-5B5WtO3AoLHwNjxwmVOP3W2_ymQYi4/edit) has been updated with the appropriate text that explains why the strategy is greyed out.

[2022-11-09 03:40] Biuwa commented on #1241
Stakeholders have edited the [TDM FAQ Draft](https://docs.google.com/document/d/1M6ejOzg07wTAz8Y1FXckq6e6NUAz36HKyGRJDn3DBms/edit?usp=sharingt)

[2022-11-09 03:47] Biuwa commented on #1244
Emily also left this comment :

'Unexpected issue I encountered when testing the greyed out strategies with different project uses:
If I input a project with multiple uses (say 60 apartments, 50,000 sf office) and I start selecting TDM strategies (e.g. one of the affordable housing strategies), and then I go back to page 2 and delete the apartments from my project, we run into a problem. Now on pa

[2022-11-09 03:56] entrotech commented on #76
@Reneedesigns @jahpe777 @jarmitageux   We can probably implement the flow that @jamiedesignedit proposes. Some questions:

1. Would it be awkward and confusing for users that they sort of have to switch the whole form into edit mode and then choose to edit a question/answer in order to change anything, and even more unintuitive that they have to click the "Done" link AND the Save Edits button to g

[2022-11-09 07:11] IMHieuVo commented on #76
I have updated mockups of the Warning Box per our 11/2 meeting (Jon noted that there is an existing Warning Box we could match).

Mockup A - Match. Match the existing warning box and the background fade as closely as possible while retaining the new language.

Mockup B - Dark Fade. Match the warning box but have the background be a darker fade.

Mockup C - New Style. Match elements of the warning

[2022-11-10 03:30] SMR9220 commented on #76
Team has selected Mockup C as the preferred style.

[2022-11-10 04:31] SMR9220 opened #1265 "Strategies remain selected after changes to project specifications make them inapplicable."
### Overview
We need to define what the process for unchecking strategies if the user makes changes to their project that make the project ineligible to use the strategy, so that users understand what is happening.

### Details about replicating error - note from Stakeholder
Upon reviewing the TDM FAQ Draft google doc (not linked because it is irrelevant
to this issue), Emily left this comment:

"

[2022-11-11 21:41] jamiedesignedit commented on #76
Hi all, posting admin-facing FAQ page with updates per out 11/9 meeting discussion.  Please let me know if this is comprehensive enough and if updates are what we wanted:

**Updates:**

- Move "add question" option to be within each category at the bottom
- Create "add category" CTA at top left to add a new category
- Clarify how text can be edited by double clicking into it
- Clarify how question

[2022-11-12 16:27] Reneedesigns commented on #76
@jamiedesignedit
Is there a screen to show the edit/deletion of an answer to the questions? In the meeting on 11/9 the team discussed expanding questions to show the answers in edit mode. Do we want this to be the same process as editing a question?

Another addition to the FAQ Admin screen will be a "Warning" box should the Admin start to leave the screen without saving. This box will be designed

[2022-11-12 17:34] Biuwa commented on #975
## 2022-11-12 Meeting Agenda

### Prework to prep for meeting
- [ ] Review Slide Deck for Tuesday's Meeting
- [ ] #76 New Design Mockups -Add to deck if the team agrees it is ready to show

### New Items
- [ ] #1126
- [ ] #1140 - Assign to design?
- [ ] #1138
- [ ] #1265

### Recurring items: Happens on the PM  Saturday meeting
- [ ] Review assignments for each PM
   - [ ] [Bonnie](https://github.

[2022-11-12 19:04] ExperimentsInHonesty commented on #1265
Discussion:
Emily has suggested two options.  I believe there is a third and want @entrotech to let us know feasibility of the following:

Is it possible for the app to pop up a warning message when a user tries to change their project details on P2 (Determine Project Level), that would warn them that if they proceed it will change their project level and X (where is X is the name of the strategie

[2022-11-12 19:50] ExperimentsInHonesty commented on #1135
Summary of meeting with stakeholder (when original recording was made) was that they would pass on the concern from users and that this could change in the future, but they had no guidance to change it now.

A later meeting (before city council meetings) and they said it had not changed and was not going to currently.

[2022-11-12 20:27] ExperimentsInHonesty commented on #76
1. Please list out all the features
   1. Edit Q&A Button
   1. Move whole section
   1. Move single Q&A
   2. Edit Q&A
   3. Edit Section Title
   4. Add a Q&A
1. Please make separate recordings for each feature.  It's hard to show the features to the stakeholder with it the way it is.  Because you have to keep pausing to discuss a specific feature.

[2022-11-12 20:53] ExperimentsInHonesty commented on #1126
@Jane4925 I rewrote the issue.  Some items are missing, please review and improve so that we can prioritize this

[2022-11-12 21:13] ExperimentsInHonesty commented on #1138
I think we may have grouped together some concerns in a way that seemed similar to us, but are actually separate issues.  Please find each of the concerns a user had (that you were covered by this issue), and document exactly what they said, so we can get LADOT/LACP to address each one on its merits.

Here is the info from the slides

### Quote 1:

Answer 1. Dwellings and Habitable rooms are diffe

[2022-11-12 21:17] ExperimentsInHonesty commented on #1138
Add this to the slide and get an answer
### Quote 2:

[2022-11-12 23:31] ExperimentsInHonesty commented on #888
### Removed from the deck
- Implement Server-Side Request Validation, [#1238](https://github.com/hackforla/tdm-calculator/issues/1238#:~:text=Implement%20Server%2DSide%20Request%20Validation)
  - not a discussion item with Emily and Alexander, only telling them when we do the release.

### Added to deck
- Added a [new slide](https://docs.google.com/presentation/d/1p_gTd6UbjqymS3qlHbZdQPPbnGaPdJxj4

[2022-11-13 03:52] ExperimentsInHonesty commented on #888
I cleaned up this issue
- closing all the comments that had been resolved by adding the links to the presentations to the top
- adding in links to all the past presentations
- organizing the release folder into years
- renaming all the files to have the dates in the format YYYY-MM-DD

[2022-11-13 06:51] ExperimentsInHonesty commented on #1051
@Biuwa please make [Slidedeck Creation Guideline](https://docs.google.com/document/d/192urkxetZHsw5e1gO0Y4EFQooJwc_ids68Oa-uhnqDA/edit?usp=sharing) into a wiki page

[2022-11-13 07:27] ExperimentsInHonesty commented on #1001
https://tdmdev.azurewebsites.net/publiccomment
https://tdm.ladot.lacity.org/publiccomment

[2022-11-15 03:00] IMHieuVo commented on #76
@Biuwa @SMR9220

Per the 11/9 meeting, the team has chosen Mockup C (Centered Text warning box with dark fade background). The latest iteration includes:

- Quoting the text of the question/answer that the user is deleting in the warning box.
- To avoid accidental deletion, move focus to/highlight the "cancel" option
- Includes a Leaving-the-page warning box

Link: https://www.figma.com/file/nD9QK

[2022-11-15 19:54] Biuwa commented on #1244
Issue #1265 addresses the concerns in Emily's comments above

[2022-11-16 00:25] entrotech opened #1266 "Bug: EV Bonus Dependency"
### Overview
From Emily Gable:
I see Electric Vehicle Bonus is automatically selected if "BlueLA" is selected in the "Car Share Memberships" strategy. That's correct.
However, if "BlueLA" is then unselected (changed to N/A or third party operator), then the EV Bonus appears to stay checked, but becomes greyed out. This is a problem because it's granting a point that shouldn't be granted.
There's a

[2022-11-16 00:30] ExperimentsInHonesty commented on #1265
Compromise solution (lower lift):   they have selected level (p2) and strategies (p4).  Then they go back to level (p2) and try to change it, it will warn them that strategies they have chosen are subject to being deselected if they are not applicable to the revised project specifications.

[2022-11-16 01:14] ExperimentsInHonesty commented on #1265
Emily and Alexander want the following wording for the warning message:

[2022-11-16 01:43] ExperimentsInHonesty commented on #888
[2022-11-15 MEETING FOLLOW UP NOTES](https://docs.google.com/document/d/1Ch-JvJkErK2AEda5qbRnuUnHk2E7ekg6Qg6gTlji63U/edit)

[2022-11-16 01:44] entrotech opened #1267 "Hack for LA Lead Developers need access to the Azure Production Environment"
### Overview
John Darragh currently provides support to the TDM production environment, which is hosted under the city's Azure account. However, he currently has access to the UAT environment, but not the production environment, which could potentially be necessary in the event of any sort of problem with the production deployment.

### Action Items
- [x] Determine if a city employee should assume

[2022-11-16 01:51] SMR9220 commented on #888
The 2022-11-15 meeting follow up notes have been emailed to Emily and Xander.

[2022-11-16 01:51] ExperimentsInHonesty commented on #1265
The design team will create an issue and put a comment on this issue with guidance on warning boxes design.

[2022-11-16 01:52] entrotech opened #1268 "Developer II needs access to City's Azure Account"
### Overview
At this time, only John Darragh has access to the City's Azure Account for deploying / debugging the deployment of the application to the UAT and Production environments.  In case John is not available, we need to have at least one other person who can support deployment, and James is the developer we are training for this.  Accordingly, he needs to have access to the city Azure accou

[2022-11-16 01:53] #1241 closed

[2022-11-16 01:54] ExperimentsInHonesty commented on #1241
Hey Development team, this content for the FAQ has been collected.  Please make a development issue.  Link it here.  Move this issue to the Done column.

[2022-11-16 01:57] ExperimentsInHonesty commented on #1244
All the new changes to the tooltips are in [this document](https://docs.google.com/document/d/1ctMRX48Q5PHh-5B5WtO3AoLHwNjxwmVOP3W2_ymQYi4/edit), go ahead and make the changes in the db

For reading the changes in the document Stakeholder Emily pointed out that if content is removed it's got a strike-through, otherwise it's an addition.

[2022-11-16 02:00] ExperimentsInHonesty commented on #1263
Sent email to stakeholder after meeting 2022-11-15
LADOT Setting data standards team
https://github.com/hackforla/tdm-calculator/issues/1263
We need to know the Data Type that the information from the calculator should be exported into so that it can be used by applicable departments:

Follow Up Item: Ask who is in charge of Specifying Data Types: (e.g., Json, XML, CSV) and Schema.  John and Bonni

[2022-11-16 02:01] ExperimentsInHonesty commented on #1133
Emailed stakeholder 2022-11-15 after meeting
User Defined Strategy Tooltip
https://github.com/hackforla/tdm-calculator/issues/1133
As previously discussed ([2022-04-19 deck](https://docs.google.com/presentation/d/1eJUkNHqGcUCF1lumfpFrQ4ma4-ePh5tUFN1gjUu_W9Y/edit#slide=id.g124f74f2c7a_3_8) | [video](https://drive.google.com/file/d/1YGTHGvwxlSP77rjnrtzcN12rL6JEa-WC/view?usp=sharing) 34:24), we need

[2022-11-16 02:18] #1138 closed

[2022-11-16 03:13] Biuwa commented on #1135
The tooltip will not be updated by LADOT or LACP at this time. If it comes up in future testing, we can revisit it.
Add a note to our testing, directing the user to discuss the issue directly with LADOT.

@Jane In future user testing, please keep an eye out for this issue. If anyone is willing to discuss it further, HFLA will schedule a meeting with LADOT.

[2022-11-16 03:13] #1135 closed

[2022-11-16 03:20] Biuwa commented on #1140
LADOT and LACP TDM have it on their agenda tomorrow 2022-11-16 concerning #1263.

A follow-up email was sent to Xander, and this will be discussed in the next meeting on 2022-11-29

[2022-11-16 06:18] jamiedesignedit commented on #76
Updates after Bonnie's last comment, including screens of **editing an answer** and making sure **not to delete the entire question when editing**.  Videos are included below each feature listed.  Link to Figma to look at all the two flows that have been iterated on from the last version: https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=7348%3A25328&t=o0WEWPpKLmhafQZp-1

1.

[2022-11-16 16:36] #1262 closed

[2022-11-16 19:42] #1257 closed

[2022-11-17 02:59] entrotech commented on #1258
So far, I have been able to hook up the DEV environment, but I'm blocked on setting up the UAT and Production environments, due to permission issues with the city's Azure account.

[2022-11-17 03:43] #1134 closed

[2022-11-17 04:19] Biuwa commented on #1251
All of the edits are available in [Tooltip edits for greyed out text](https://docs.google.com/document/d/1ctMRX48Q5PHh-5B5WtO3AoLHwNjxwmVOP3W2_ymQYi4/edit)

[2022-11-17 04:19] #1251 closed

[2022-11-17 04:20] #1240 closed

[2022-11-17 04:26] Biuwa commented on #1125
#975

[2022-11-17 04:29] Biuwa commented on #1219
@Jane4925 Is this complete?

[2022-11-17 04:31] Biuwa commented on #1180
Is this ready for dev? @Reneedesigns

[2022-11-17 04:37] Biuwa commented on #1180
#975

[2022-11-17 04:38] Biuwa commented on #1161
#975

[2022-11-17 04:39] Biuwa commented on #1160
#975

[2022-11-17 04:41] Biuwa commented on #1146
#975

[2022-11-17 04:41] #1147 closed

[2022-11-17 04:48] Biuwa commented on #1144
@Reneedesigns please discuss this with your team.

[2022-11-17 04:55] Biuwa commented on #1130
#975

[2022-11-17 04:56] Biuwa commented on #1126
@Jane4925 Reminder to please review this issue.

[2022-11-17 05:04] #1111 closed

[2022-11-17 05:05] Biuwa commented on #1048
#975

[2022-11-17 05:06] Biuwa commented on #1028
#975

[2022-11-19 07:58] IMHieuVo commented on #76
Below is the update of the warning boxes per accessibility considerations. The red text on the white background does not seem to pass the color contrast checker for accessibility so I opted to make the text black.

Option A) Uses the main red color as an outline
Option B) Uses bold white text on a dark red background.

https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node-id=7419%3

[2022-11-19 17:54] Biuwa commented on #975
## 11-19-22 Meeting Agenda

### Prework to prep for meeting
- [ ] #890
- [ ] create slide deck for stakeholder meeting #888
- [ ] Review Slide Deck for Next Stakeholder meeting
- [ ] https://github.com/hackforla/tdm-calculator/issues/76 New Design Mockups -Add to deck if the team agrees it is ready to show

### Recurring items: Happens on the PM  Saturday meeting
- [ ] Review assignments for each

[2022-11-19 17:56] Biuwa commented on #888
Slide deck for 11-29-22:

https://docs.google.com/presentation/d/1CzBoOMhlRV0mtW-FPTPVoQWUX7BgYMu9JC6y4YUAcJA/edit?usp=sharing

[2022-11-19 18:19] ExperimentsInHonesty commented on #890
- [ ] Date of Check: 2022-11-19

- [ ] Click on the links below to see if there are any new issues missing the following labels and add the appropriate missing label to any that need it and check off that its been checked:
   - [ ] [priority](https://github.com/hackforla/tdm-calculator/issues?q=is%3Aissue+is%3Aopen+-label%3A%22priority%3A+Could+Have%22+-label%3A%22priority%3A+MUST+HAVE+-DEV+FREEZE

[2022-11-19 18:47] ExperimentsInHonesty commented on #76
@IMHieuVo In the above post, you have several different warning messages, but two different color reds.  Please explain why two different reds (the orange red and the more brown red).

[2022-11-19 18:58] ExperimentsInHonesty commented on #1125
@Jane4925 can you provide some additional details that came out of User test 2 which led to creation of this issue

[2022-11-19 19:06] ExperimentsInHonesty commented on #1028
### Gather info for the following people (and anyone else who neededs to be added
Ebi
Syria
Renee

- Name: Pranav Meda
   - GitHub handle: pmeda12
   - Role (as you would propose it be displayed): UX Researcher
   - SLACK ID: Pranav Meda / U02KCGML5JB
- Name: Jill Armitage
  - GitHub handle: jarmitageux
  - Role (as you would propose it be displayed): UX Researcher
  - SLACK ID: Jill Armitage / U0

[2022-11-19 22:08] IMHieuVo commented on #76
@ExperimentsInHonesty
Short answer: Accessibility.
Long answer: The orange-red color is one of the 'core' colors of the site but it is a terrible color to use with white/gray in terms of accessibility. It fails both versions: white text on orange-red background and orange-red text on white background. In option A, we can still use the orange-red color because it is not directly interacting with th

[2022-11-21 05:29] entrotech opened #1276 "Implement Modifications to Tooltips explaining applicability"
### Overview
Design Issue #1244 initially suggested modifications to the UI for wizard tooltips that involved changing the tooltip contents when strategies were not applicable. After some discussion, the team decided that the tooltips should have the same content whether enabled or not, but the text of the tooltip should include information about the circumstances under which a strategy is applica

[2022-11-24 02:04] #1276 closed

[2022-11-27 06:08] Biuwa opened #1279 "FAQs Warning Box"
### Overview
To prevent admins from mistakenly deleting FAQs categories and questions, we need a warning dialog box that asks them to be sure before deleting

### Action Items

- [x] create mockups for the warning box that quotes the text of the question/answer that the admin is deleting, and also includes a leaving the page warning box
- [x] Get stakeholders' approval

### Resources/Instructions

[2022-11-27 06:25] Biuwa commented on #1279
**John:**
For the question deletion warning dialog, it could be designed like the one for deleting projects:

![image](https://user-images.githubusercontent.com/98936028/204122262-1ad6cd37-77ce-4228-a886-0b8b945382c4.png)

Or, if you have an improved design, we should probably update the project deletion warning dialog to match.

[2022-11-27 06:30] Biuwa commented on #1279
@IMHieuVo :
I have updated mockups of the Warning Box per our 11/2 meeting (Jon noted that there is an existing Warning Box we could match).

Mockup A - Match. Match the existing warning box and the background fade as closely as possible while retaining the new language.

Mockup B - Dark Fade. Match the warning box but have the background be a darker fade.

Mockup C - New Style. Match elements of

[2022-11-27 06:31] Biuwa commented on #1279
**Syria:**
Team has selected Mockup C as the preferred style. @IMHieuVo

Per mtg 11/9, iterations needed:
-Add quoted text of question/answer that the user is deleting in the warning box
-To avoid accidental deletion, move focus to/highlight the "cancel" option

[2022-11-27 06:35] Biuwa commented on #1279
@IMHieuVo:
@Biuwa @SMR9220

Per the 11/9 meeting, the team has chosen Mockup C (Centered Text warning box with dark fade background). The latest iteration includes:

Quoting the text of the question/answer that the user is deleting in the warning box.
To avoid accidental deletion, move focus to/highlight the "cancel" option
Includes a Leaving-the-page warning box
Link: https://www.figma.com/file/n

[2022-11-27 06:38] Biuwa commented on #1279
@IMHieuVo
Below is the update of the warning boxes per accessibility considerations. The red text on the white background does not seem to pass the color contrast checker for accessibility so I opted to make the text black.

Option A) Uses the main red color as an outline
Option B) Uses bold white text on a dark red background.

https://www.figma.com/file/nD9QK56Mzq7xNSaSUoeGx0/TDM-Calculator?node

[2022-11-27 06:41] Biuwa commented on #1279
@ExperimentsInHonesty:
@IMHieuVo In the above post, you have several different warning messages, but two different color reds. Please explain why two different reds (the orange red and the more brown red).

[2022-11-27 06:43] Biuwa commented on #1279
@IMHieuVo:
@ExperimentsInHonesty
Short answer: Accessibility.
Long answer: The orange-red color is one of the 'core' colors of the site but it is a terrible color to use with white/gray in terms of accessibility. It fails both versions: white text on orange-red background and orange-red text on white background. In option A, we can still use the orange-red color because it is not directly interact

[2022-11-27 06:48] Biuwa commented on #76
Discussions about the warning dialogue box have been moved to #1279 and will continue there

[2022-11-28 02:13] entrotech opened #1280 "Initialize FAQ Content"
### Overview
Per Product Management Issue #1241, we are ready to initialize the FAQ questions and answers with content provided by Emily and Xander.

### Action Items
- [x] Write and apply script to the development database.
- [x] Review with stakeholders.
- [ ] Deploy to production.

### Resources/Instructions
[Content for FAQs](https://docs.google.com/document/d/1M6ejOzg07wTAz8Y1FXckq6e6NUAz36HK

[2022-11-28 03:42] Biuwa commented on #1279
@IMHieuVo is it possible to have these design options in the different colors you used? For example, the red outline option will be in the 3 different shades of red you used?

Stakeholders having to choose between different designs in 3 different shades of red might be difficult. They might like a particular design, but may not like the color used, or may like a color and not the design.

[2022-11-29 07:33] IMHieuVo commented on #1279
@Biuwa
Below is the preview of the expanded options per your request. Option A and Option D are the original. With only subtle differences, isn't this a bit much for the shareholders?

![Frame 8](https://user-images.githubusercontent.com/117132709/204466300-2074186f-acc2-40f1-a68d-aba6eec4f762.png)

[2022-11-30 00:22] ExperimentsInHonesty commented on #1241
Alexander will look to see if any links inside the calculator that go to someplace other than LADOT but still inside a city website, need to have an icon indicating external link (similar to about page) .  See website faq for questions https://tdmdev.azurewebsites.net/faqs

See image for which are the related questions
![screencapture-tdmdev-azurewebsites-net-faqs-2022-11-29-16_17_19](https://user

[2022-11-30 00:24] ExperimentsInHonesty commented on #1241
Emily shared this link https://planning.lacity.org/resources/open-data which has a link to another city site (the open data portal)  and it does not have the external link icon.